HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/COCT_MT240003CA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT240003CA.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.26 2006/01/23 23:56:47 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.4 2006/01/24 00:00:00 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
      <xs:appinfo>
         <mif:serializedStaticModel xmlns:mif="urn:hl7-org:v3/mif" packageKind="realm"
                                    representationKind="serialized"
                                    isSerializable="true"
                                    isAbstract="false"
                                    name="CA">
            <mif:packageLocation root="DEFN" section="IM" subSection="CO" domain="CT" artifact="MT-deprecated"
                                 realm="CA"
                                 id="240003"/>
            <mif:header>
               <mif:renderingInformation schemaVersion="1" application="Visio to MIF transform"/>
               <mif:legalese copyrightOwner="Health Level Seven" copyrightYears="2006"/>
            </mif:header>
            <mif:graphicRepresentation presentation="HL7">
               <mif:graphElement name="Main">
                  <mif:position x="0.0" y="0.0"/>
                  <mif:size width="7.648" height="2.128"/>
               </mif:graphElement>
            </mif:graphicRepresentation>
            <mif:derivationSupplier staticModelDerivationId="1">
               <mif:targetStaticModel root="DEFN" artifact="RIM" version="00"/>
            </mif:derivationSupplier>
            <mif:ownedEntryPoint id="COCT_MT240003CA" name="Service Delivery Location contact"
                                 isAbstract="false">
               <mif:graphicRepresentation>
                  <mif:graphElement shapeId="Sheet.15" containerDiagramName="Main">
                     <mif:position x="0.028" y="-0.915"/>
                     <mif:size width="2.306" height="0.453"/>
                     <mif:anchorage connectToShapeId="Sheet.15">
                        <mif:position x="2.334" y="0.508"/>
                        <mif:graphEdge>
                           <mif:anchor connectToShapeId="Sheet.5">
                              <mif:position x="3.300" y="0.492"/>
                           </mif:anchor>
                        </mif:graphEdge>
                     </mif:anchorage>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:specializedClass>
                  <mif:reference name="ServiceDeliveryLocation"/>
               </mif:specializedClass>
            </mif:ownedEntryPoint>
         </mif:serializedStaticModel>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="infrastructureRoot.xsd"/>
   <xs:complexType name="COCT_MT240003CA.Place">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Place" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="Place"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.1" containerDiagramName="Main" shapeTemplate="Entity"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="2.800" y="1.368"/>
                     <mif:size width="2.872" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text/>
                  </mif:definition>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="name" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 maximumLength="60"
                                 isStructural="false">
                     <mif:businessName name="B:Service Location Name"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The name assigned to the service location.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Used for human communication, and for cross-checking of location Id and is therefore mandatory</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PVD.070</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Ontario">
                           <mif:text>
                              <mif:p>Dispensing Pharmacy Name</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Facility.name</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Place" attributeName="name"/>
                     <mif:type name="ST"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PLC"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT240003CA.ServiceDeliveryLocation">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="ServiceDeliveryLocation" isAbstract="false">
               <mif:businessName name="Service Location"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Role"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.5" containerDiagramName="Main" shapeTemplate="Role"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="3.300" y="0.035"/>
                     <mif:size width="2.683" height="0.914"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>An identification of a service location (or facility) where health service has been or can be delivered. E.g. Pharmacy, Medical Clinic, Hospital</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Used for tracking service delivery responsibility, to provide contact information for follow-up and for statistical analysis. Also important for indicating where paper records can be located.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="id" sortKey="2" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="C:Service Location Id"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Unique identifier for a healthcare service location.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows for lookup and retrieval of detailed information about a specific service location. Also ensures unique identification of service location and is therefore mandatory.</mif:p>
                              <mif:p>The identifier is mandatory because it is the principal mechanism for uniquely identifying the facility.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PVD.020-01 (extension)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PVD.020-02 (root)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Ontario">
                           <mif:text>
                              <mif:p>Dispensing Pharmacy number</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PEI">
                           <mif:text>
                              <mif:p>Pharmacy Identifier</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Facility.facilityKey</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>DispensedItem.facilityKey</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Role" attributeName="id"/>
                     <mif:type name="II"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="addr" type="AD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="addr" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="D:Service Location Address"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The information by which a service location may be contacted either physically or by</mif:p>
                              <mif:p>mail.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Identifies the physical location of a service location and also allows for the location to be contacted.</mif:p>
                              <mif:p>The address is marked as 'populated' because it is considered a critical piece of information about the facility, but may not always be available or meaningful.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Role" attributeName="addr"/>
                     <mif:type name="AD.BASIC"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="telecom" type="TEL" minOccurs="1" maxOccurs="5">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="telecom" sortKey="4" minimumMultiplicity="1"
                                 maximumMultiplicity="5"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="E:Service Location Phones and E-mails"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The phone numbers and/or electronic mail addresses by which a service location may be contacted.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows a service location to be communicated with and is therefore important. Because a contact number won't always exist, the field is marked 'populated'.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Role" attributeName="telecom"/>
                     <mif:type name="SET">
                        <mif:supplierBindingArgumentDatatype name="TEL.PHONEMAIL"/>
                     </mif:type>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="location" type="COCT_MT240003CA.Place" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="location" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Role" associationEndName="player"/>
                     <mif:participantClass>
                        <mif:reference name="Place"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="SDLOC"/>
   </xs:complexType>
</xs:schema>