HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/COCT_MT260003.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type COCT_MT260003.
* Source information:
*     Rendered by: RoseTree 3.0.8
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.12 2005/07/19 04:27:26 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.25 2005/07/09 20:20:15 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.12 2005/07/19 04:27:26 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="infrastructureRoot.xsd"/>
	<xs:include schemaLocation="NarrativeBlock.xsd"/>
	<xs:complexType name="COCT_MT260003.AssignedEntity">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassAssignedEntity" use="optional" default="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.Author">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="assignedEntity" type="COCT_MT260003.AssignedEntity" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.Consumable">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="manufacturedProduct" type="COCT_MT260003.ManufacturedProduct"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CSM"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.Definition">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="detectedMedicationIssueDefinition" type="COCT_MT260003.DetectedMedicationIssueDefinition" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="INST"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.DetectedMedicationIssue">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="value" type="CE" minOccurs="0"/>
			<xs:element name="definition" type="COCT_MT260003.Definition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subject" type="COCT_MT260003.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="mitigatedBy" type="COCT_MT260003.Mitigates" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf" type="COCT_MT260003.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="ALRT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.DetectedMedicationIssueDefinition">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="effectiveTime" type="IVL_TS"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="ALRT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.Location">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="pharmacy" type="COCT_MT260003.Pharmacy" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationTargetLocation" use="optional" default="LOC"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.Management">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="author" type="COCT_MT260003.Author" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.ManufacturedMaterialKind">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional" default="MMAT"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="optional" default="KIND"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.ManufacturedProduct">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="manufacturedMaterialKind" type="COCT_MT260003.ManufacturedMaterialKind" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="optional" default="MANU"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.Mitigates">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="management" type="COCT_MT260003.Management" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="MITGT"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.OtherMedication">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="consumable" type="COCT_MT260003.Consumable"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="SBADM"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.OtherSupply">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="0"/>
			<xs:element name="quantity" type="PQ" minOccurs="0"/>
			<xs:element name="expectedUseTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="location" type="COCT_MT260003.Location" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassSupply" use="optional" default="SPLY"/>
		<xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.Pharmacy">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="telecom" type="TEL"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="DSDLOC"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.SeverityObservation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="value" type="CE"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.Subject">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="severityObservation" type="COCT_MT260003.SeverityObservation" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT260003.Subject2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="otherMedication" type="COCT_MT260003.OtherMedication" nillable="true"/>
				<xs:element name="otherSupply" type="COCT_MT260003.OtherSupply" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
	</xs:complexType>
</xs:schema>
