HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/COCT_HD030200.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type COCT_HD030200.
* Source information:
*     Rendered by: RoseTree 2.9.69
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.11 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.24 2005/05/24 05:44:09 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.11 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="infrastructureRoot.xsd"/>
	<xs:include schemaLocation="NarrativeBlock.xsd"/>
	<xs:include schemaLocation="COCT_MT150000.xsd"/>
	<xs:include schemaLocation="COCT_MT500000.xsd"/>
	<xs:include schemaLocation="COCT_MT150002.xsd"/>
	<xs:include schemaLocation="COCT_MT030202.xsd"/>
	<xs:include schemaLocation="COCT_MT710000.xsd"/>
	<xs:complexType name="COCT_HD030200.BirthPlace">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="birthplace" type="COCT_MT710000.Place" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="BIRTHPL"/>
	</xs:complexType>
	<xs:complexType name="COCT_HD030200.Citizen">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="politicalOrganization" type="COCT_MT150000.Organization" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="CIT"/>
	</xs:complexType>
	<xs:complexType name="COCT_HD030200.ContactParty">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:choice>
				<xs:element name="contactOrganization" type="COCT_MT150002.Organization" nillable="true"/>
				<xs:element name="contactPerson" type="COCT_MT030202.Person" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassContact" use="optional" default="CON"/>
	</xs:complexType>
	<xs:complexType name="COCT_HD030200.Employment">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="jobCode" type="CE" minOccurs="0"/>
			<xs:element name="jobTitleName" type="SC" minOccurs="0"/>
			<xs:element name="jobClassCode" type="CE" minOccurs="0"/>
			<xs:element name="employerOrganization" type="COCT_MT150000.Organization" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassEmployee" use="optional" default="EMP"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="COCT_HD030200.Entity">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="quantity" type="INT" minOccurs="0"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="desc" type="ED" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="existenceTime" type="IVL_TS" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClassRoot" use="optional" default="ENT"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="COCT_HD030200.Guarantor">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:choice>
				<xs:element name="guarantorOrganization" type="COCT_MT150002.Organization" nillable="true"/>
				<xs:element name="guarantorPerson" type="COCT_MT030202.Person" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="GUAR"/>
	</xs:complexType>
	<xs:complexType name="COCT_HD030200.Guardian">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="certificateText" type="ED" minOccurs="0"/>
			<xs:choice>
				<xs:element name="guardianOrganization" type="COCT_MT150002.Organization" nillable="true"/>
				<xs:element name="guardianPerson" type="COCT_MT030202.Person" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="GUARD"/>
	</xs:complexType>
	<xs:complexType name="COCT_HD030200.LanguageCommunication">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="languageCode" type="CE"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="proficiencyLevelCode" type="CE" minOccurs="0"/>
			<xs:element name="preferenceInd" type="BL" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
	</xs:complexType>
	<xs:complexType name="COCT_HD030200.Member">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="groupEntity" type="COCT_HD030200.Entity" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="MBR"/>
	</xs:complexType>
	<xs:complexType name="COCT_HD030200.OtherIDs">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="scopingOrganization" type="COCT_MT150000.Organization" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
	</xs:complexType>
	<xs:complexType name="COCT_HD030200.Person">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="desc" type="ED" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="administrativeGenderCode" type="CE" minOccurs="0"/>
			<xs:element name="birthTime" type="TS" minOccurs="0"/>
			<xs:element name="deceasedInd" type="BL" minOccurs="0"/>
			<xs:element name="deceasedTime" type="TS" minOccurs="0"/>
			<xs:element name="multipleBirthInd" type="BL" minOccurs="0"/>
			<xs:element name="multipleBirthOrderNumber" type="INT" minOccurs="0"/>
			<xs:element name="organDonorInd" type="BL" minOccurs="0"/>
			<xs:element name="maritalStatusCode" type="CE" minOccurs="0"/>
			<xs:element name="educationLevelCode" type="CE" minOccurs="0"/>
			<xs:element name="disabilityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="livingArrangementCode" type="CE" minOccurs="0"/>
			<xs:element name="religiousAffiliationCode" type="CE" minOccurs="0"/>
			<xs:element name="raceCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ethnicGroupCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="asOtherIDs" type="COCT_HD030200.OtherIDs" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="asEmployment" type="COCT_HD030200.Employment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="asCitizen" type="COCT_HD030200.Citizen" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="asStudent" type="COCT_HD030200.Student" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="asMember" type="COCT_HD030200.Member" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="asCoveredParty" type="COCT_MT500000.CoveredParty" nillable="true" minOccurs="0"/>
			<xs:element name="contactParty" type="COCT_HD030200.ContactParty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="guardian" type="COCT_HD030200.Guardian" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="guarantor" type="COCT_HD030200.Guarantor" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="birthPlace" type="COCT_HD030200.BirthPlace" nillable="true" minOccurs="0"/>
			<xs:element name="languageCommunication" type="COCT_HD030200.LanguageCommunication" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="COCT_HD030200.Student">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="schoolOrganization" type="COCT_MT150000.Organization" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="STD"/>
	</xs:complexType>
</xs:schema>
