HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/COCT_MT050203CA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT050203CA.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.26 2006/01/23 23:56:47 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.4 2006/01/24 00:00:00 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
      <xs:appinfo>
         <mif:serializedStaticModel xmlns:mif="urn:hl7-org:v3/mif" packageKind="realm"
                                    representationKind="serialized"
                                    isSerializable="true"
                                    isAbstract="false"
                                    name="CA">
            <mif:packageLocation root="DEFN" section="IM" subSection="CO" domain="CT" artifact="MT-deprecated"
                                 realm="CA"
                                 id="050203"/>
            <mif:header>
               <mif:renderingInformation schemaVersion="1" application="Visio to MIF transform"/>
               <mif:legalese copyrightOwner="Health Level Seven" copyrightYears="2006"/>
            </mif:header>
            <mif:graphicRepresentation presentation="HL7">
               <mif:graphElement name="Main">
                  <mif:position x="0.0" y="0.0"/>
                  <mif:size width="6.614" height="2.273"/>
               </mif:graphElement>
            </mif:graphicRepresentation>
            <mif:derivationSupplier staticModelDerivationId="1">
               <mif:targetStaticModel root="DEFN" artifact="RIM" version="00"/>
            </mif:derivationSupplier>
            <mif:ownedEntryPoint id="COCT_MT050203CA" name="Patient Person contactible" isAbstract="false">
               <mif:graphicRepresentation>
                  <mif:graphElement shapeId="Sheet.19" containerDiagramName="Main">
                     <mif:position x="0.028" y="-0.267"/>
                     <mif:size width="1.828" height="0.453"/>
                     <mif:anchorage connectToShapeId="Sheet.19">
                        <mif:position x="1.855" y="0.492"/>
                        <mif:graphEdge>
                           <mif:anchor connectToShapeId="Sheet.1">
                              <mif:position x="2.772" y="0.492"/>
                           </mif:anchor>
                        </mif:graphEdge>
                     </mif:anchorage>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:specializedClass>
                  <mif:reference name="Patient"/>
               </mif:specializedClass>
            </mif:ownedEntryPoint>
         </mif:serializedStaticModel>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="infrastructureRoot.xsd"/>
   <xs:complexType name="COCT_MT050203CA.Patient">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Patient" isAbstract="false">
               <mif:businessName name="Patient"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Patient"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.1" containerDiagramName="Main" shapeTemplate="Role"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="2.772" y="0.035"/>
                     <mif:size width="2.621" height="0.914"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>A person who is receiving or may receive healthcare services and has personal attributes (e.g. name, birth date). .</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Information used to identify the patient and to support clinical decisions. This information applies to the person in the context of the associated action only, and should be stored separately. I.e. the address/phone/email only apply to the current prescription/dispense/lab order etc.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="id" sortKey="2" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="A:Patient ID"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Unique identifier assigned to a person by Federal, Provincial and Territorial jurisdiction for the purposes of uniquely identifying the person within the EHR.</mif:p>
                              <mif:p>The EHR will define which identifier to use within a jurisdiction.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows a patient to be referred to unambiguously. Because this is the principal mechanism for identifying humans, the attribute is mandatory. If an identifier is not known, it should be looked up using the 'client registry' capabilities of the EHR application.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="CPhAv3">
                           <mif:text>
                              <mif:p>C39 (Extension)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PTT.050.01 (Extension)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PTT.050.02 (Root)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="HC-AE">
                           <mif:text>
                              <mif:p>A.1</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Immunization">
                           <mif:text>
                              <mif:p>PID.2</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Patient.332-CY (Extension)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Patient.331-CX (Root)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Claim.330-CW</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Ontario">
                           <mif:text>
                              <mif:p>Health Card Number</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>PID.2</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>PID.4</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDU.2</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZKW.3</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PEI">
                           <mif:text>
                              <mif:p>Jurisdiction (Root)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Person.PHN (Extension)</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Patient" attributeName="id"/>
                     <mif:type name="II"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="addr" sortKey="3" minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="C:Patient Contact Address"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Physical address for the patient where they may be visited or found for the purposes of this particular action. Generally only specified when different from the addresses stored on the client registry. E.g. address on a prescription issued when a patient is temporary staying away from home.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Can be used to record a temporary address used for the purposes of this prescription.</mif:p>
                              <mif:p>Not intended for use to confirm patient identity.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.1 (use)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.2 (usablePeriod(IVL&lt;TS).low)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.4 (partType=UNID)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.5 (DMODID - following DMOD=P.P.Box)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.6 (partType=??)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.7 (partType=??)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.8 (partType=CTY)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.9 (partType=CNT - populate mnemonic of SC)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.10 (partType=ZIP)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.11 (partType=SINST=PST)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.12 (partTYpe=STA)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.13 (partType=DMODID-followingDMOD=RR)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.14 (partType=DIR)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.15 (partType=STB)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.16 (partType=BNR) BC:ZPA2.17 (partType=STTYP)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.18 (usablePeriod (IVL&lt;TS).high)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA2.19 (Line demarked by carriage return)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PTT.060-01 (partType=SAL)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PTT.060-02 (partType=CTY)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PTT.060-03 (partType=CNT)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PTT.060-04 (partType=ZIP)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Immunization">
                           <mif:text>
                              <mif:p>PID.11</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Patient.322-CM (partType=SAL)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Patient.323-CN (partType=CTY)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Patient.324-CO (partType=STA)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Patient.325-CP (partType=ZIP)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>PID.11</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Patient" attributeName="addr"/>
                     <mif:type name="AD.BASIC"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="telecom" type="TEL" minOccurs="1" maxOccurs="5">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="telecom" sortKey="4" minimumMultiplicity="1"
                                 maximumMultiplicity="5"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="D:Patient Contact Phone and E-mails"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Telephone, fax or e-mail addresses intended as the principal means of contact for the patient with regard to the current action. E.g. the phone number to reach the patient at regarding the results of an ordered test.</mif:p>
                              <mif:p>On a prescription, this enables the communication of patient contact information to the dispenser for the specific prescription. This can be a phone/fax number and/or email address</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Can be used to record a temporary contact mechanism (phone, email) for the purposes of this action.</mif:p>
                              <mif:p>Not intended for use to confirm patient identity.</mif:p>
                              <mif:p>Important for following up with patient but not always available, and therefore only marked as 'populated'.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA1.1 (Use and/or URL.scheme)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA1.2 (usablePeriod (IVL&lt;TS&gt;).low) BC:ZPA1.3 (url.address - as per RFC2396)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA1.4 (url.address - as per RFC2396)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA1.5 (usablePeriod (IVL&lt;TS&gt;).high)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PTT.070-01</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PTT.070-02</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="MOXXI">
                           <mif:text>
                              <mif:p>D99.03 (url.address - as per RFC2396)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>patient.326-CQ</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>PID.13</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>PID.14</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Patient" attributeName="telecom"/>
                     <mif:type name="LIST">
                        <mif:supplierBindingArgumentDatatype name="TEL.PHONEMAIL"/>
                     </mif:type>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="patientPerson" type="COCT_MT050203CA.Person" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="patientPerson" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Role" associationEndName="player"/>
                     <mif:participantClass>
                        <mif:reference name="Person"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT050203CA.Person">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Person" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="Person"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.11" containerDiagramName="Main" shapeTemplate="Entity"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="2.306" y="1.215"/>
                     <mif:size width="3.566" height="1.048"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text/>
                  </mif:definition>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="name" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="B:Patient Name"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The name by which the patient is known and which apply to a particular clinical action being reported or recorded. For a prescription, this will be the name traditionally printed on the paper script or the name that appears on the patient's chart.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Used, with other patient identity attributes, to confirm patient identity, as well as when addressing the patient. Element is mandatory because the patient's name is necessary for positive identification of the patient in the jurisdictional client registry.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA.1 (partType=Given)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA.2 (partType=Family)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPA.3 (partType=Given - all repetitions except first)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="CPhAv3">
                           <mif:text>
                              <mif:p>C37 (partType=Given)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="CPhAv3">
                           <mif:text>
                              <mif:p>C38 (partType=Family)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PTT.030-01 (partType=Family)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PTT.030-02 (partType=Given - 1st occurrence)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PTT.030-03 (partType=Given - subsequen occurrences)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PTT.030-04 (partType=Suffix)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PTT.030-05 (partType=Prefix)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="HC-SA">
                           <mif:text>
                              <mif:p>patient Initials</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Immunization">
                           <mif:text>
                              <mif:p>PID.5</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Patient.310-CA (partType=Given)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Patient.311-CB (partType=Family)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Ontario">
                           <mif:text>
                              <mif:p>Recipient Name First (partType=Given)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Ontario">
                           <mif:text>
                              <mif:p>Recipient Name Last (partType=Family)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>PID.5</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>PID.9 (any name other than first repetition is an alias)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDU.3</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZKW.2</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Person.givenName</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Person.lastName</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Person.middleName</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Person.namePrefix</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Person.nameSuffix</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Person" attributeName="name"/>
                     <mif:type name="PN.BASIC"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="administrativeGenderCode" type="CV" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="administrativeGenderCode" sortKey="4"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="F:Patient Gender"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Indicates the gender (sex) of the patient. Complex genetic genders are handled as observations if they are considered relevant.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Used to confirm patient identity. May affect dosing or therapy appropriateness.</mif:p>
                              <mif:p>Element is mandatory because the patient's gender is necessary for positive identification of the patient in the jurisdictional client registry.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="CPhAv3">
                           <mif:text>
                              <mif:p>C40 eScript:PTT.040</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="HC-AE">
                           <mif:text>
                              <mif:p>3</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="HC-SA">
                           <mif:text>
                              <mif:p>Sex</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Immunization">
                           <mif:text>
                              <mif:p>PID.8</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Patient.305-C5</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>PID.8</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Person"
                                             attributeName="administrativeGenderCode"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="AdministrativeGender"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="birthTime" type="TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="birthTime" sortKey="5"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="E:Patient Birth Date"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Indicates the date on which the patient was born.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Used to confirm patient identity.</mif:p>
                              <mif:p>May also influence dosage and therapy appropriateness.</mif:p>
                              <mif:p>Element is mandatory because the patient's birth date is necessary for positive identification of the patient in the jurisdictional client registry.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="CPhAv3">
                           <mif:text>
                              <mif:p>C34</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>PTT.020</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="HC-AE">
                           <mif:text>
                              <mif:p>A.2b</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="HC-SA">
                           <mif:text>
                              <mif:p>HC-SA</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Immunization">
                           <mif:text>
                              <mif:p>PID.7</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>patient.304-C4</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>PID.7</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Person" attributeName="birthTime"/>
                     <mif:type name="TS.DATE"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
</xs:schema>