HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/COCT_MT680000.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type COCT_MT680000.
* Source information:
*     Rendered by: RoseTree 3.0.8
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.12 2005/07/19 04:27:26 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.25 2005/07/09 20:20:15 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.12 2005/07/19 04:27:26 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="infrastructureRoot.xsd"/>
	<xs:include schemaLocation="NarrativeBlock.xsd"/>
	<xs:include schemaLocation="COCT_MT280000.xsd"/>
	<xs:include schemaLocation="COCT_MT490000.xsd"/>
	<xs:include schemaLocation="COCT_MT290000.xsd"/>
	<xs:include schemaLocation="COCT_MT740000.xsd"/>
	<xs:include schemaLocation="COCT_MT300000.xsd"/>
	<xs:include schemaLocation="COCT_MT310000.xsd"/>
	<xs:include schemaLocation="COCT_MT600000.xsd"/>
	<xs:complexType name="COCT_MT680000.AdjudicatedInvoiceElementDetail">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="unitQuantity" type="RTO_PQ_PQ"/>
			<xs:element name="unitPriceAmt" type="RTO_MO_PQ"/>
			<xs:element name="netAmt" type="MO"/>
			<xs:element name="factorNumber" type="REAL" minOccurs="0"/>
			<xs:element name="reference" type="COCT_MT680000.Reference4" nillable="true" minOccurs="0"/>
			<xs:element name="outcomeOf" type="COCT_MT680000.Outcome" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.AdjudicatedInvoiceElementGroup">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="statusCode" type="CS"/>
			<xs:element name="netAmt" type="MO"/>
			<xs:element name="author" type="COCT_MT680000.Author2" nillable="true" minOccurs="0"/>
			<xs:element name="reference" type="COCT_MT680000.Reference4" nillable="true" minOccurs="0"/>
			<xs:element name="coverage" type="COCT_MT680000.Coverage" nillable="true" minOccurs="0"/>
			<xs:element name="component" type="COCT_MT680000.Component2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="outcomeOf" type="COCT_MT680000.Outcome" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.AdjudicationResult">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="pertinentInformation" type="COCT_MT680000.PertinentInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="COCT_MT680000.Reference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="ADJUD"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.AdjudicationResultInformation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="ED"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.AdjudicationResultReason">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="ED"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.AdjudicatorDevice">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="softwareName" type="SC"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClassDevice" use="optional" default="DEV"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.AdjudicatorRole">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="playingAdjudicatorDevice" type="COCT_MT680000.AdjudicatorDevice"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.Allowable">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="netAmt" type="MO"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.Author1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="carrierRole" type="COCT_MT680000.CarrierRole"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.Author2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="TS"/>
			<xs:element name="signatureText" type="ST" minOccurs="0"/>
			<xs:element name="adjudicatorRole" type="COCT_MT680000.AdjudicatorRole" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.Beneficiary">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="coveredPartyAsPatient" type="COCT_MT680000.CoveredPartyAsPatient"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="BEN"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.CarrierRole">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="UNDWRT"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.Component1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="invoiceElementDetail" type="COCT_MT680000.InvoiceElementDetail" nillable="true"/>
				<xs:element name="invoiceElementGroup" type="COCT_MT680000.InvoiceElementGroup" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.Component2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="adjudicatedInvoiceElementDetail" type="COCT_MT680000.AdjudicatedInvoiceElementDetail" nillable="true"/>
				<xs:element name="adjudicatedInvoiceElementGroup" type="COCT_MT680000.AdjudicatedInvoiceElementGroup" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.Coverage">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT"/>
			<xs:element name="policyOrAccount" type="COCT_MT680000.PolicyOrAccount" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COVBY"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.CoveredPartyAsPatient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CS" minOccurs="0"/>
			<xs:choice>
				<xs:element name="coveredPartyAsPatientPerson" type="COCT_MT680000.CoveredPartyAsPatientPerson"/>
			</xs:choice>
			<xs:element name="indirectAuthority" type="COCT_MT680000.IndirectAuthorithyOver" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="COVPTY"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.CoveredPartyAsPatientPerson">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="PN" maxOccurs="5"/>
			<xs:element name="administrativeGenderCode" type="CS" minOccurs="0"/>
			<xs:element name="birthTime" type="TS" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.IndirectAuthorithyOver">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="personalRelationship" type="COCT_MT680000.PersonalRelationship" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="RoleLinkType" use="optional" fixed="INDAUTH"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.InvoiceElementDetail">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="unitQuantity" type="RTO_PQ_PQ" minOccurs="0"/>
			<xs:element name="unitPriceAmt" type="RTO_MO_PQ" minOccurs="0"/>
			<xs:element name="netAmt" type="MO"/>
			<xs:element name="factorNumber" type="REAL" minOccurs="0"/>
			<xs:element name="reasonOf" type="COCT_MT680000.Reason" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
		<xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.InvoiceElementGroup">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="netAmt" type="MO"/>
			<xs:element name="component" type="COCT_MT680000.Component1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reasonOf" type="COCT_MT680000.Reason" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
		<xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.Outcome">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="adjudicationResult" type="COCT_MT680000.AdjudicationResult" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipOutcome" use="optional" default="OUTC"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.PersonalRelationship">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CS"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PRS"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.PertinentInformation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="adjudicationResultInformation" type="COCT_MT680000.AdjudicationResultInformation" nillable="true"/>
				<xs:element name="adjudicationResultReason" type="COCT_MT680000.AdjudicationResultReason" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.PolicyOrAccount">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="beneficiary" type="COCT_MT680000.Beneficiary"/>
			<xs:element name="author" type="COCT_MT680000.Author1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="COV"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.Reason">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="billableClinicalProduct" type="COCT_MT490000.BillableClinicalProduct" nillable="true"/>
				<xs:element name="billableClinicalService" type="COCT_MT290000.BillableClinicalService" nillable="true"/>
				<xs:element name="oralHealthService" type="COCT_MT740000.OralHealthService" nillable="true"/>
				<xs:element name="supplyEvent1" type="COCT_MT300000.SupplyEvent" nillable="true"/>
				<xs:element name="accomodationSupplied" type="COCT_MT310000.AccomodationSupplied" nillable="true"/>
				<xs:element name="supplyEvent2" type="COCT_MT600000.SupplyEvent" nillable="true"/>
				<xs:element name="crossReference" type="COCT_MT280000.CrossReference" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipReason" use="optional" default="RSON"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.Reference">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="invoiceElementDetail" type="COCT_MT680000.InvoiceElementDetail" nillable="true"/>
				<xs:element name="invoiceElementGroup" type="COCT_MT680000.InvoiceElementGroup" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFR"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT680000.Reference4">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="allowable" type="COCT_MT680000.Allowable" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFR"/>
	</xs:complexType>
</xs:schema>
