HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/COCT_MT490000.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type COCT_MT490000.
* Source information:
*     Rendered by: RoseTree 3.0.8
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.12 2005/07/19 04:27:26 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.25 2005/07/09 20:20:15 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.12 2005/07/19 04:27:26 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="infrastructureRoot.xsd"/>
	<xs:include schemaLocation="NarrativeBlock.xsd"/>
	<xs:include schemaLocation="COCT_MT240003UV02.xsd"/>
	<xs:complexType name="COCT_MT490000.BillableClinicalProduct">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="effectiveTime" type="IVL_TS"/>
			<xs:element name="product" type="COCT_MT490000.Product"/>
			<xs:element name="referrer" type="COCT_MT490000.Referrer" nillable="true" minOccurs="0"/>
			<xs:element name="consultant" type="COCT_MT490000.Consultant" nillable="true" minOccurs="0"/>
			<xs:element name="location" type="COCT_MT490000.Location"/>
			<xs:element name="origin" type="COCT_MT490000.Origin" nillable="true" minOccurs="0"/>
			<xs:element name="destination" type="COCT_MT490000.Destination" nillable="true" minOccurs="0"/>
			<xs:element name="pertinentInformation" type="COCT_MT490000.PertinentInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassSupply" use="optional" default="SPLY"/>
		<xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.Consultant">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="healthCareProvider" type="COCT_MT490000.HealthCareProvider" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CON"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.ContentPackagedProduct">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0"/>
			<xs:element name="containedManufacturedMaterialKind" type="COCT_MT490000.ManufacturedMaterialKind" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="CONT"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.Destination">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="serviceDeliveryLocation" type="COCT_MT240003UV02.ServiceDeliveryLocation" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="DST"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.Diagnosis">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CE"/>
			<xs:element name="text" type="ST" minOccurs="0"/>
			<xs:element name="value" type="CE"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.HealthCareProvider">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="healthCareProviderPerson" type="COCT_MT490000.ProviderPerson" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PROV"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.Location">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="serviceDeliveryLocation" type="COCT_MT240003UV02.ServiceDeliveryLocation"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationTargetLocation" use="optional" default="LOC"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.ManufacturedMaterialKind">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="desc" type="ST" minOccurs="0"/>
			<xs:element name="asWarrantor" type="COCT_MT490000.Warrantor" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="contentPackagedProduct" type="COCT_MT490000.ContentPackagedProduct" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional" default="MMAT"/>
		<xs:attribute name="determinerCode" type="cs" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.ManufacturedProduct">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="manufacturedMaterialKind" type="COCT_MT490000.ManufacturedMaterialKind" nillable="true"/>
			<xs:element name="manufacturerManufacturedProductOrganization" type="COCT_MT490000.ManufacturedProductOrganization" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="optional" default="MANU"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.ManufacturedProductOrganization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="ON"/>
			<xs:element name="telecom" type="TEL" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.Origin">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="serviceDeliveryLocation" type="COCT_MT240003UV02.ServiceDeliveryLocation" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ORG"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.PertinentInformation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:element name="diagnosis" type="COCT_MT490000.Diagnosis" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.Product">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="manufacturedProduct" type="COCT_MT490000.ManufacturedProduct"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRD"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.ProviderPerson">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="PN"/>
			<xs:element name="telecom" type="TEL" minOccurs="0"/>
			<xs:element name="addr" type="AD" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.Referrer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="healthCareProvider" type="COCT_MT490000.HealthCareProvider" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="REF"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.Warrantor">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="effectiveTime" type="IVL_TS"/>
			<xs:element name="warrantingWarrantorOrganization" type="COCT_MT490000.WarrantorOrganization" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="WRTE"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT490000.WarrantorOrganization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="ON"/>
			<xs:element name="telecom" type="TEL" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
</xs:schema>
