HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/COMT_MT300001CA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COMT_MT300001CA.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.26 2006/01/23 23:56:47 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.4 2006/01/24 00:00:00 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
      <xs:appinfo>
         <mif:serializedStaticModel xmlns:mif="urn:hl7-org:v3/mif" packageKind="realm"
                                    representationKind="serialized"
                                    isSerializable="true"
                                    isAbstract="false"
                                    name="CA">
            <mif:packageLocation root="DEFN" section="IM" subSection="CO" domain="MT" artifact="MT-deprecated"
                                 realm="CA"
                                 id="300001"/>
            <mif:header>
               <mif:renderingInformation schemaVersion="1" application="Visio to MIF transform"/>
               <mif:legalese copyrightOwner="Health Level Seven" copyrightYears="2006"/>
            </mif:header>
            <mif:graphicRepresentation presentation="HL7">
               <mif:graphElement name="Main">
                  <mif:position x="0.0" y="0.0"/>
                  <mif:size width="5.925" height="2.814"/>
               </mif:graphElement>
            </mif:graphicRepresentation>
            <mif:derivationSupplier staticModelDerivationId="1">
               <mif:targetStaticModel root="DEFN" artifact="RIM" version="00"/>
            </mif:derivationSupplier>
            <mif:ownedEntryPoint id="COMT_MT300001CA" name="Patient Annotation" isAbstract="false">
               <mif:graphicRepresentation>
                  <mif:graphElement shapeId="Sheet.5" containerDiagramName="Main">
                     <mif:position x="0.956" y="0.028"/>
                     <mif:size width="1.318" height="0.453"/>
                     <mif:anchorage connectToShapeId="Sheet.5">
                        <mif:position x="1.606" y="0.481"/>
                        <mif:graphEdge>
                           <mif:anchor connectToShapeId="Sheet.1">
                              <mif:position x="1.624" y="1.690"/>
                           </mif:anchor>
                        </mif:graphEdge>
                     </mif:anchorage>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:specializedClass>
                  <mif:reference name="Annotation"/>
               </mif:specializedClass>
            </mif:ownedEntryPoint>
         </mif:serializedStaticModel>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT050202CA.xsd"/>
   <xs:complexType name="COMT_MT300001CA.Annotation">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Annotation" isAbstract="false">
               <mif:businessName name="Comment"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Act"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.1" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="0.303" y="1.690"/>
                     <mif:size width="2.640" height="1.048"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Identifies the comments to be recorded against a Patient's record.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows comments to be attached to a Patient record. A Patient record can pertain to demographic or clinical (Drug, Condition, Lab, DI, Immunization, etc) information.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="code" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="Patient Note Category"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>A coded value denoting the category of note being attached to a Patient's record. Categories of note include: General, Medication, Lab, DI, Immunization, etc</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows patient notes of different purposes and use, to be attached to a patient. Attribute is mandatory to ensure that patient notes are categorized accordingly. This attribute may also be used by DISs to enforce different access control to different types of notes.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" attributeName="code"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActPatientAnnotationCode"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="text" sortKey="4" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 maximumLength="2000"
                                 isStructural="false">
                     <mif:businessName name="C:Patient Note Text"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Free textual description of the patient note.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows a provider to attach comments to a patient as a whole or to the patient's profile (such as medication, lab. DI, etc). This attribute is mandatory because there's no point in having a patient note unless there's actually content in the note.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" attributeName="text"/>
                     <mif:type name="ST"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="statusCode" sortKey="5"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="completed"
                                 isStructural="false">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" attributeName="statusCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActStatus" mnemonic="completed"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="recordTarget" type="COMT_MT300001CA.RecordTarget" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="recordTarget" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="ABA_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="RecordTarget"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COMT_MT300001CA.RecordTarget">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="RecordTarget" isAbstract="false">
               <mif:businessName name="*comment pertains to"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.22" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="2.944" y="2.100"/>
                     <mif:size width="1.625" height="0.303"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Identity of the Patient to which the note pertains.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>This relationship is mandatory because the Patient must first be identified before any annotation is applied to the patient's record.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="COCT_MT050202CA.Patient" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="patient" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="R_PatientPersonIdentified-confirmable"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RCT"/>
   </xs:complexType>
</xs:schema>