HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/FICR_MT600201.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type FICR_MT600201.
* Source information:
*     Rendered by: RoseTree 3.0.8
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.12 2005/07/19 04:27:26 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.25 2005/07/09 20:20:15 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.12 2005/07/19 04:27:26 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="infrastructureRoot.xsd"/>
	<xs:include schemaLocation="NarrativeBlock.xsd"/>
	<xs:include schemaLocation="COCT_MT110200.xsd"/>
	<xs:include schemaLocation="COCT_MT750000.xsd"/>
	<xs:include schemaLocation="COCT_MT760000.xsd"/>
	<xs:include schemaLocation="COCT_MT680000.xsd"/>
	<xs:include schemaLocation="COCT_MT280000.xsd"/>
	<xs:include schemaLocation="COCT_MT490000.xsd"/>
	<xs:include schemaLocation="COCT_MT290000.xsd"/>
	<xs:include schemaLocation="COCT_MT740000.xsd"/>
	<xs:include schemaLocation="COCT_MT300000.xsd"/>
	<xs:include schemaLocation="COCT_MT310000.xsd"/>
	<xs:include schemaLocation="COCT_MT600000.xsd"/>
	<xs:complexType name="FICR_MT600201.BillingSupportObservation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:choice>
					<xs:element name="prosthesisObservation" type="COCT_MT760000.ProsthesisObservation" nillable="true"/>
					<xs:element name="toothAbsenceObservation" type="COCT_MT760000.ToothAbsenceObservation" nillable="true"/>
				</xs:choice>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.CarrierRole">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="UNDWRT"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.Consenter">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="signatureText" type="ST"/>
			<xs:element name="patientConsent" type="FICR_MT600201.PatientConsent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.ContactParty">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="contactPerson" type="FICR_MT600201.ContactPerson" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassContact" use="optional" default="CON"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.ContactPerson">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="PN" minOccurs="0"/>
			<xs:element name="telecom" type="TEL" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.CoveredPartyAsPatient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CS"/>
			<xs:choice>
				<xs:element name="coveredPartyAsPatientAnimal" type="FICR_MT600201.CoveredPartyAsPatientAnimal"/>
				<xs:element name="coveredPartyAsPatientPerson" type="FICR_MT600201.CoveredPartyAsPatientPerson"/>
			</xs:choice>
			<xs:element name="subjectOf" type="FICR_MT600201.Consenter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="indirectAuthority" type="FICR_MT600201.IndirectAuthorithyOver" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="COVPTY"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.CoveredPartyAsPatientAnimal">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="ST" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClassLivingSubject" use="optional" default="LIV"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.CoveredPartyAsPatientPerson">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="PN" maxOccurs="5"/>
			<xs:element name="administrativeGenderCode" type="CS" minOccurs="0"/>
			<xs:element name="birthTime" type="TS"/>
			<xs:element name="multipleBirthInd" type="BL" minOccurs="0"/>
			<xs:element name="multipleBirthOrderNumber" type="INT" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.FinancialContract">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CS"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassFinancialContract" use="optional" default="FCNTRCT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.HealthDocumentAttachment">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="value" type="ED" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.Holder">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="policyHolder" type="FICR_MT600201.PolicyHolder" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="HLD"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.IndirectAuthorithyOver">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="personalRelationship" type="FICR_MT600201.PersonalRelationship" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="RoleLinkType" use="optional" fixed="INDAUTH"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.InvoiceElementComponent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="invoiceElementDetail" type="FICR_MT600201.InvoiceElementDetail"/>
				<xs:element name="invoiceElementGroup" type="FICR_MT600201.InvoiceElementGroup"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.InvoiceElementCoverage">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="policyOrAccount" type="FICR_MT600201.PolicyOrAccount" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COVBY"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.InvoiceElementCrossReference">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.InvoiceElementDetail">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="unitQuantity" type="RTO_PQ_PQ"/>
			<xs:element name="unitPriceAmt" type="RTO_MO_PQ"/>
			<xs:element name="netAmt" type="MO"/>
			<xs:element name="factorNumber" type="REAL" minOccurs="0"/>
			<xs:element name="reasonOf" type="FICR_MT600201.InvoiceElementReason" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.InvoiceElementGroup">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="netAmt" type="MO"/>
			<xs:element name="inFulfillmentOf" type="FICR_MT600201.InvoiceElementGroupInFulfillmentOf" nillable="true" minOccurs="0"/>
			<xs:element name="pertinentInformation1" type="FICR_MT600201.InvoiceElementGroupAttachment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation2" type="FICR_MT600201.BillingSupportObservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="predecessor" type="FICR_MT600201.Predecessor" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="FICR_MT600201.Reference" nillable="true" minOccurs="0" maxOccurs="9"/>
			<xs:element name="coverage" type="FICR_MT600201.InvoiceElementCoverage" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="FICR_MT600201.InvoiceElementComponent" maxOccurs="unbounded"/>
			<xs:element name="reasonOf" type="FICR_MT600201.InvoiceElementReason" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="triggerFor" type="FICR_MT600201.Suggests" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.InvoiceElementGroupAttachment">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="healthDocumentAttachment" type="FICR_MT600201.HealthDocumentAttachment" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.InvoiceElementGroupInFulfillmentOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="financialContract" type="FICR_MT600201.FinancialContract" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipFulfills" use="optional" default="FLFS"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.InvoiceElementOverride">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CS"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.InvoiceElementReason">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="billableClinicalProduct" type="COCT_MT490000.BillableClinicalProduct" nillable="true"/>
				<xs:element name="billableClinicalService" type="COCT_MT290000.BillableClinicalService" nillable="true"/>
				<xs:element name="oralHealthService" type="COCT_MT740000.OralHealthService" nillable="true"/>
				<xs:element name="supplyEvent1" type="COCT_MT300000.SupplyEvent" nillable="true"/>
				<xs:element name="accomodationSupplied" type="COCT_MT310000.AccomodationSupplied" nillable="true"/>
				<xs:element name="supplyEvent2" type="COCT_MT600000.SupplyEvent" nillable="true"/>
				<xs:element name="crossReference" type="COCT_MT280000.CrossReference" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipReason" use="optional" default="RSON"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.PatientConsent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="CONS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.PaymentRequest">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="amt" type="MO"/>
			<xs:element name="primaryPerformer" type="FICR_MT600201.PaymentRequestAttention" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation" type="FICR_MT600201.PertinentInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="credit" type="FICR_MT600201.PaymentRequestPayee" nillable="true" minOccurs="0"/>
			<xs:element name="reasonOf" type="FICR_MT600201.PaymentRequestReason" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="XACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.PaymentRequestAttention">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="contactParty" type="FICR_MT600201.ContactParty" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PPRF"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.PaymentRequestPayee">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="account" type="COCT_MT110200.Account" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="CREDIT"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.PaymentRequestReason">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="invoiceElementGroup" type="FICR_MT600201.InvoiceElementGroup"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipReason" use="optional" default="RSON"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.PersonalRelationship">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CS"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PRS"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.PertinentInformation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="providerBillingTaxAccount" type="FICR_MT600201.ProviderBillingTaxAccount" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.PolicyAccident">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.PolicyBeneficiary">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="coveredPartyAsPatient" type="FICR_MT600201.CoveredPartyAsPatient"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="BEN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.PolicyConsent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.PolicyConsentPertinentInformation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.PolicyHolder">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="policyHolderPerson" type="FICR_MT600201.PolicyHolderPerson" nillable="true" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="POLHOLD"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.PolicyHolderPerson">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="PN"/>
			<xs:element name="birthTime" type="TS" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.PolicyOrAccount">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="beneficiary" type="FICR_MT600201.PolicyBeneficiary"/>
			<xs:element name="holder" type="FICR_MT600201.Holder" nillable="true" minOccurs="0"/>
			<xs:element name="author" type="FICR_MT600201.PolicyUnderwriter"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="COV"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.PolicyUnderwriter">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="carrierRole" type="FICR_MT600201.CarrierRole"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.Predecessor">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="invoiceElementCrossReference" type="FICR_MT600201.InvoiceElementCrossReference" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="PREV"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.ProviderBillingTaxAccount">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CS"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="ACCT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.Reference">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="adjudicatedInvoiceElementGroup" type="COCT_MT680000.AdjudicatedInvoiceElementGroup" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFR"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT600201.Suggests">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="invoiceElementOverride" type="FICR_MT600201.InvoiceElementOverride" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="TRIG"/>
	</xs:complexType>
</xs:schema>
