HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/FICR_MT610201.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type FICR_MT610201.
* Source information:
*     Rendered by: RoseTree 3.0.8
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.12 2005/07/19 04:27:26 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.25 2005/07/09 20:20:15 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.12 2005/07/19 04:27:26 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="infrastructureRoot.xsd"/>
	<xs:include schemaLocation="NarrativeBlock.xsd"/>
	<xs:include schemaLocation="COCT_MT110200.xsd"/>
	<xs:include schemaLocation="COCT_MT110100.xsd"/>
	<xs:include schemaLocation="COCT_MT680000.xsd"/>
	<xs:include schemaLocation="COCT_MT320000.xsd"/>
	<xs:include schemaLocation="COCT_MT260003.xsd"/>
	<xs:complexType name="FICR_MT610201.AdditionalPertinentInformation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="adjudicationResultInformation" type="FICR_MT610201.AdjudicationResultInformation" nillable="true"/>
				<xs:element name="adjudicationResultReason" type="FICR_MT610201.AdjudicationResultReason" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicatedInvoiceAuthor">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="modeCode" type="CS" minOccurs="0"/>
			<xs:element name="time" type="TS"/>
			<xs:element name="adjudicatorRole" type="FICR_MT610201.AdjudicatorRole" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicatedInvoiceCoverage">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT"/>
			<xs:element name="policyOrAccount" type="FICR_MT610201.PolicyOrAccount" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COVBY"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicatedInvoiceElementComponent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="adjudicatedInvoiceElementDetail" type="FICR_MT610201.AdjudicatedInvoiceElementDetail" nillable="true"/>
				<xs:element name="adjudicatedInvoiceElementGroup" type="FICR_MT610201.AdjudicatedInvoiceElementGroup" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicatedInvoiceElementDetail">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="unitQuantity" type="RTO_PQ_PQ"/>
			<xs:element name="unitPriceAmt" type="RTO_MO_PQ"/>
			<xs:element name="netAmt" type="MO"/>
			<xs:element name="factorNumber" type="REAL" minOccurs="0"/>
			<xs:element name="outcomeOf" type="FICR_MT610201.AdjudicatedResultOutcome" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicatedInvoiceElementGroup">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="statusCode" type="CS"/>
			<xs:element name="netAmt" type="MO"/>
			<xs:element name="author" type="FICR_MT610201.AdjudicatedInvoiceAuthor" nillable="true" minOccurs="0"/>
			<xs:element name="predecessor" type="FICR_MT610201.AdjudicatedInvoicePredecessor" nillable="true" minOccurs="0"/>
			<xs:element name="reference" type="FICR_MT610201.Reference2" nillable="true" minOccurs="0"/>
			<xs:element name="coverage" type="FICR_MT610201.AdjudicatedInvoiceCoverage" nillable="true" minOccurs="0"/>
			<xs:element name="component" type="FICR_MT610201.AdjudicatedInvoiceElementComponent" nillable="true" maxOccurs="unbounded"/>
			<xs:element name="outcomeOf" type="FICR_MT610201.AdjudicatedResultOutcome" nillable="true" minOccurs="0"/>
			<xs:element name="referencedBy" type="FICR_MT610201.AdjudResultsRef" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicatedInvoicePredecessor">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="adjudicatedInvoiceElementGroup" type="FICR_MT610201.AdjudicatedInvoiceElementGroup" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUCC"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicatedResultOutcome">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="adjudicationResult" type="FICR_MT610201.AdjudicationResult" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipOutcome" use="optional" default="OUTC"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicationObservationReason">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="detectedMedicationIssue" type="COCT_MT260003.DetectedMedicationIssue" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipReason" use="optional" default="RSON"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicationResult">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="trigger" type="FICR_MT610201.AdjudicationResultTrigger" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation" type="FICR_MT610201.AdditionalPertinentInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="FICR_MT610201.AdjudicationResultReference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reasonOf" type="FICR_MT610201.AdjudicationObservationReason" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="ADJUD"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicationResultInformation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="ED"/>
			<xs:element name="trigger" type="FICR_MT610201.Trigger" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicationResultReason">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="ED"/>
			<xs:element name="trigger" type="FICR_MT610201.Trigger" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicationResultReference">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="invoiceElementDetail" type="FICR_MT610201.InvoiceElementDetail" nillable="true"/>
				<xs:element name="invoiceElementGroup" type="FICR_MT610201.InvoiceElementGroup" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFR"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicationResultRequiredAct">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="directTarget" type="FICR_MT610201.RequiredActDirectTarget" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicationResultTrigger">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="adjudicationResultRequiredAct" type="FICR_MT610201.AdjudicationResultRequiredAct" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="TRIG"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicatorBillingTaxAccount">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CS"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="ACCT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudicatorRole">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
			<xs:element name="directAuthority" type="FICR_MT610201.DirectAuthorityOver"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudResultsGroup">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="effectiveTime" type="IVL_TS"/>
			<xs:element name="netAmt" type="MO"/>
			<xs:element name="summary" type="FICR_MT610201.AdjudResultsGroupSummary" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudResultsGroupSummary">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="adjudResultsGroupSummaryData" type="FICR_MT610201.AdjudResultsGroupSummaryData" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUMM"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudResultsGroupSummaryData">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="value" type="ANY"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.AdjudResultsRef">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="adjudResultsGroup" type="FICR_MT610201.AdjudResultsGroup" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFR"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.CarrierRole">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="UNDWRT"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.CoveredPartyAsPatient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="indirectAuthority" type="FICR_MT610201.IndirectAuthorithyOver" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="COVPTY"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.DirectAuthorityOver">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="insuranceCarrierRole" type="FICR_MT610201.InsuranceCarrierRole"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="RoleLinkType" use="optional" fixed="DIRAUTH"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.Form">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="telecom" type="TEL" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional" default="MMAT"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.FormRole">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="playingForm" type="FICR_MT610201.Form" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.Holder">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.IndirectAuthorithyOver">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="personalRelationship" type="FICR_MT610201.PersonalRelationship" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="RoleLinkType" use="optional" fixed="INDAUTH"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.InsuranceCarrierRole">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.InvoiceElementDetail">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="netAmt" type="MO"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.InvoiceElementGroup">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="netAmt" type="MO"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.PaymentIntent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="0"/>
			<xs:element name="amt" type="MO" minOccurs="0"/>
			<xs:element name="pertinentInformation" type="FICR_MT610201.PertinentInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="credit" type="FICR_MT610201.PaymentIntentPayee" nillable="true"/>
			<xs:element name="debit" type="FICR_MT610201.PaymentIntentPayor" nillable="true"/>
			<xs:element name="reasonOf" type="FICR_MT610201.PaymentIntentReason" nillable="true" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="XACT"/>
		<xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.PaymentIntentPayee">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="account" type="COCT_MT110200.Account" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="CREDIT"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.PaymentIntentPayor">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="account" type="COCT_MT110100.Account" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="DEBIT"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.PaymentIntentReason">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="adjudicatedInvoiceElementGroup" type="FICR_MT610201.AdjudicatedInvoiceElementGroup" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipReason" use="optional" default="RSON"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.PersonalRelationship">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CS"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PRS"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.PertinentInformation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="adjudicatorBillingTaxAccount" type="FICR_MT610201.AdjudicatorBillingTaxAccount" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.PolicyBeneficiary">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="coveredPartyAsPatient" type="FICR_MT610201.CoveredPartyAsPatient"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="BEN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.PolicyOrAccount">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="beneficiary" type="FICR_MT610201.PolicyBeneficiary"/>
			<xs:element name="author" type="FICR_MT610201.PolicyUnderwriter"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="COV"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.PolicyUnderwriter">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="carrierRole" type="FICR_MT610201.CarrierRole"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.Reference">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.Reference2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="adjudicatedInvoiceElementGroup" type="COCT_MT680000.AdjudicatedInvoiceElementGroup" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFR"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.Reference4">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.RequiredActDirectTarget">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="formRole" type="FICR_MT610201.FormRole" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationTargetDirect" use="optional" default="DIR"/>
	</xs:complexType>
	<xs:complexType name="FICR_MT610201.Trigger">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="adjudicationResultRequiredAct" type="FICR_MT610201.AdjudicationResultRequiredAct" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="TRIG"/>
	</xs:complexType>
</xs:schema>
