HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/MCCI_MT000300.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type MCCI_MT000300.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 2.0. Stylesheets:
RoseTreeToMIFStaticModel.xsl version: 1.1
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="datatypes.xsd"/>
	<xs:include schemaLocation="voc.xsd"/>
	<xs:include schemaLocation="NarrativeBlock.xsd"/>
	<xs:include schemaLocation="COCT_MT040203.xsd"/>
	<xs:complexType name="MCCI_MT000300.InfrastructureRoot.typeId">
		<xs:complexContent>
			<xs:restriction base="II">
				<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
				<xs:attribute name="extension" type="st" use="required" fixed="MCCI_MT000300"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300.InfrastructureRoot.templateId">
		<xs:complexContent>
			<xs:extension base="II">
				<xs:attribute name="unsorted" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300.Acknowledgement">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MCCI_MT000300.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MCCI_MT000300.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeCode" type="CS" nillable="true"/>
			<xs:element name="messageWaitingNumber" type="INT" nillable="true" minOccurs="0"/>
			<xs:element name="messageWaitingPriorityCode" type="CE" nillable="true" minOccurs="0"/>
			<xs:element name="targetMessage" type="MCCI_MT000300.TargetMessage" nillable="true"/>
			<xs:element name="acknowledgementDetail" type="MCCI_MT000300.AcknowledgementDetail" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300.AcknowledgementDetail">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MCCI_MT000300.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MCCI_MT000300.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeCode" type="CS" nillable="true" minOccurs="0"/>
			<xs:element name="code" type="CE" nillable="true" minOccurs="0"/>
			<xs:element name="text" type="ED" nillable="true" minOccurs="0"/>
			<xs:element name="location" type="ST" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300.Agent">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MCCI_MT000300.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MCCI_MT000300.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="representedOrganization" type="MCCI_MT000300.Organization" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAgent" use="optional" default="AGNT"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300.AttentionLine">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MCCI_MT000300.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MCCI_MT000300.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="keyWordText" type="SC" nillable="true" minOccurs="0"/>
			<xs:element name="value" type="ANY" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300.Device">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MCCI_MT000300.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MCCI_MT000300.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" nillable="true" maxOccurs="unbounded"/>
			<xs:element name="name" type="EN" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="desc" type="ED" nillable="true" minOccurs="0"/>
			<xs:element name="existenceTime" type="IVL_TS" nillable="true" minOccurs="0"/>
			<xs:element name="telecom" type="TEL" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="manufacturerModelName" type="SC" nillable="true" minOccurs="0"/>
			<xs:element name="softwareName" type="SC" nillable="true" minOccurs="0"/>
			<xs:element name="asAgent" type="MCCI_MT000300.Agent" nillable="true" minOccurs="0"/>
			<xs:element name="asLocatedEntity" type="MCCI_MT000300.LocatedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassDevice" use="optional" default="DEV"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300.EntityRsp">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MCCI_MT000300.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MCCI_MT000300.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" nillable="true"/>
			<xs:element name="name" type="EN" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassRoot" use="optional" default="ENT"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300.LocatedEntity">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MCCI_MT000300.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MCCI_MT000300.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="MCCI_MT000300.Place" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassLocatedEntity" use="optional" default="LOCE"/>
	</xs:complexType>
	<!--<xs:complexType name="MCCI_MT000300.Message">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="MCCI_MT000300.InfrastructureRoot.typeId" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="MCCI_MT000300.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="creationTime" type="TS" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="securityText" type="ST" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="versionCode" type="CS" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interactionId" type="II" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="profileId" type="II" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="processingCode" type="CS" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="processingModeCode" type="CS" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="acceptAckCode" type="CS" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="attachmentText" type="ED" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="receiver" type="MCCI_MT000300.Receiver" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="respondTo" type="MCCI_MT000300.RespondTo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sender" type="MCCI_MT000300.Sender" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="attentionLine" type="MCCI_MT000300.AttentionLine" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="acknowledgement" type="MCCI_MT000300.Acknowledgement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
Placeholder for element referencing stub: ControlActProcess
<xs:element name="REPLACE_ME" type="xs:anyType" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>-->
	<xs:complexType name="MCCI_MT000300.Organization">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MCCI_MT000300.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MCCI_MT000300.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" nillable="true" maxOccurs="unbounded"/>
			<xs:element name="name" type="EN" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="notificationParty" type="COCT_MT040203.NotificationParty" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300.Place">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MCCI_MT000300.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MCCI_MT000300.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" nillable="true" maxOccurs="unbounded"/>
			<xs:element name="name" type="EN" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPlace" use="optional" default="PLC"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300.Receiver">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MCCI_MT000300.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MCCI_MT000300.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" nillable="true" minOccurs="0"/>
			<xs:element name="device" type="MCCI_MT000300.Device" nillable="true"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="CommunicationFunctionType" use="optional" fixed="RCV"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300.RespondTo">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MCCI_MT000300.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MCCI_MT000300.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" nillable="true" minOccurs="0"/>
			<xs:element name="entityRsp" type="MCCI_MT000300.EntityRsp" nillable="true" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="CommunicationFunctionType" use="optional" fixed="RSP"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300.Sender">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MCCI_MT000300.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MCCI_MT000300.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" nillable="true" minOccurs="0"/>
			<xs:element name="device" type="MCCI_MT000300.Device" nillable="true"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="CommunicationFunctionType" use="optional" fixed="SND"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300.TargetMessage">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MCCI_MT000300.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MCCI_MT000300.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" nillable="true"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
</xs:schema>
