HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/MFMI_MT700721.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type MFMI_MT700721.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 2.0. Stylesheets:
RoseTreeToMIFStaticModel.xsl version: 1.1
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="datatypes.xsd"/>
	<xs:include schemaLocation="voc.xsd"/>
	<xs:include schemaLocation="NarrativeBlock.xsd"/>
	<xs:include schemaLocation="COCT_MT090300.xsd"/>
	<xs:include schemaLocation="COCT_MT090100.xsd"/>
	<xs:include schemaLocation="COCT_MT090003.xsd"/>
	<xs:include schemaLocation="MCAI_MT900001.xsd"/>
	<xs:complexType name="MFMI_MT700721.InfrastructureRoot.typeId">
		<xs:complexContent>
			<xs:restriction base="II">
				<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
				<xs:attribute name="extension" type="st" use="required" fixed="MFMI_MT700721"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MFMI_MT700721.InfrastructureRoot.templateId">
		<xs:complexContent>
			<xs:extension base="II">
				<xs:attribute name="unsorted" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MFMI_MT700721.ActDefinition">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MFMI_MT700721.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MFMI_MT700721.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" nillable="true" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" nillable="true"/>
			<xs:element name="text" type="ED" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
	</xs:complexType>
	<xs:complexType name="MFMI_MT700721.Author2">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MFMI_MT700721.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MFMI_MT700721.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="noteText" type="ED" nillable="true" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS" nillable="true" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" nillable="true" minOccurs="0"/>
			<xs:element name="assignedEntity" type="COCT_MT090003.AssignedEntity" nillable="true"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
	</xs:complexType>
	<xs:complexType name="MFMI_MT700721.AuthorOrPerformer">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MFMI_MT700721.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MFMI_MT700721.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="noteText" type="ED" nillable="true" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS" nillable="true" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" nillable="true" minOccurs="0"/>
			<xs:element name="signatureCode" type="CE" nillable="true" minOccurs="0"/>
			<xs:element name="signatureText" type="ED" nillable="true" minOccurs="0"/>
			<xs:choice>
				<xs:element name="assignedDevice" type="COCT_MT090300UV01.AssignedDevice" nillable="true"/>
				<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_ParticipationAuthorPerformer" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
	</xs:complexType>
	<!--<xs:complexType name="MFMI_MT700721.ControlActProcess">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="MFMI_MT700721.InfrastructureRoot.typeId" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="MFMI_MT700721.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reasonCode" type="CE" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCode" type="CE" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="overseer" type="MFMI_MT700721.Overseer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="authorOrPerformer" type="MFMI_MT700721.AuthorOrPerformer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="MFMI_MT700721.DataEnterer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="informationRecipient" type="MFMI_MT700721.InformationRecipient" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="MFMI_MT700721.Subject1" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="reasonOf" type="MFMI_MT700721.Reason" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassControlAct" use="optional" default="CACT"/>
      <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
   </xs:complexType>-->
	<xs:complexType name="MFMI_MT700721.DataEnterer">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MFMI_MT700721.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MFMI_MT700721.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="noteText" type="ED" nillable="true" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS" nillable="true" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ENT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
	</xs:complexType>
	<xs:complexType name="MFMI_MT700721.Definition">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MFMI_MT700721.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MFMI_MT700721.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="actDefinition" type="MFMI_MT700721.ActDefinition" nillable="true"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="INST"/>
	</xs:complexType>
	<xs:complexType name="MFMI_MT700721.InformationRecipient">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MFMI_MT700721.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MFMI_MT700721.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="time" type="IVL_TS" nillable="true" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationInformationRecipient" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
	</xs:complexType>
	<xs:complexType name="MFMI_MT700721.Overseer">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MFMI_MT700721.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MFMI_MT700721.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="noteText" type="ED" nillable="true" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS" nillable="true" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" nillable="true" minOccurs="0"/>
			<xs:element name="signatureCode" type="CE" nillable="true" minOccurs="0"/>
			<xs:element name="signatureText" type="ED" nillable="true" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_ParticipationVrfRespSprfWit" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
	</xs:complexType>
	<xs:complexType name="MFMI_MT700721.PriorRegistration">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MFMI_MT700721.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MFMI_MT700721.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" nillable="true" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="REG"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="MFMI_MT700721.Reason">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MFMI_MT700721.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MFMI_MT700721.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="detectedIssueEvent" type="MCAI_MT900001UV01.DetectedIssueEvent" nillable="true"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipReason" use="optional" default="RSON"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional"/>
	</xs:complexType>
	<!--<xs:complexType name="MFMI_MT700721.RegistrationRequest">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="MFMI_MT700721.InfrastructureRoot.typeId" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="MFMI_MT700721.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject1" type="MFMI_MT700721.Subject2" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="author" type="MFMI_MT700721.Author2" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="definition" type="MFMI_MT700721.Definition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="replacementOf" type="MFMI_MT700721.ReplacementOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject2" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="REG"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>-->
	<xs:complexType name="MFMI_MT700721.ReplacementOf">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="MFMI_MT700721.InfrastructureRoot.typeId" nillable="true" minOccurs="0"/>
			<xs:element name="templateId" type="MFMI_MT700721.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="priorRegistration" type="MFMI_MT700721.PriorRegistration" nillable="true"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipReplacement" use="optional" default="RPLC"/>
	</xs:complexType>
	<!--<xs:complexType name="MFMI_MT700721.Subject1">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="MFMI_MT700721.InfrastructureRoot.typeId" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="MFMI_MT700721.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="registrationRequest" type="MFMI_MT700721.RegistrationRequest" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>-->
	<!--<xs:complexType name="MFMI_MT700721.Subject2">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="MFMI_MT700721.InfrastructureRoot.typeId" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="MFMI_MT700721.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
Placeholder for element referencing stub: RegisteredRole
<xs:element name="REPLACE_ME" type="xs:anyType" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>-->
	<!--<xs:complexType name="MFMI_MT700721.Subject3">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="MFMI_MT700721.InfrastructureRoot.typeId" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="MFMI_MT700721.InfrastructureRoot.templateId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
Placeholder for element referencing stub: RegisteredAct
<xs:element name="REPLACE_ME" type="xs:anyType" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>-->
</xs:schema>
