HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/PORX_MT980040CA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type PORX_MT980040CA.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.26 2006/01/23 23:56:47 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.4 2006/01/24 00:00:00 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
      <xs:appinfo>
         <mif:serializedStaticModel xmlns:mif="urn:hl7-org:v3/mif" packageKind="realm"
                                    representationKind="serialized"
                                    isSerializable="true"
                                    isAbstract="false"
                                    name="CA">
            <mif:packageLocation root="DEFN" section="HM" subSection="PO" domain="RX" artifact="MT-deprecated"
                                 realm="CA"
                                 id="980040"/>
            <mif:header>
               <mif:renderingInformation schemaVersion="1" application="Visio to MIF transform"/>
               <mif:legalese copyrightOwner="Health Level Seven" copyrightYears="2006"/>
            </mif:header>
            <mif:graphicRepresentation presentation="HL7">
               <mif:graphElement name="Main">
                  <mif:position x="0.0" y="0.0"/>
                  <mif:size width="12.819" height="7.307"/>
               </mif:graphElement>
            </mif:graphicRepresentation>
            <mif:derivationSupplier staticModelDerivationId="1">
               <mif:targetStaticModel root="DEFN" artifact="RIM" version="00"/>
            </mif:derivationSupplier>
            <mif:ownedEntryPoint id="PORX_MT980040CA" name="Dosage" isAbstract="false">
               <mif:graphicRepresentation>
                  <mif:graphElement shapeId="Sheet.41" containerDiagramName="Main">
                     <mif:position x="1.536" y="4.159"/>
                     <mif:size width="1.075" height="0.453"/>
                     <mif:anchorage connectToShapeId="Sheet.41">
                        <mif:position x="2.611" y="2.576"/>
                        <mif:graphEdge>
                           <mif:anchor connectToShapeId="Sheet.1">
                              <mif:position x="3.232" y="2.551"/>
                           </mif:anchor>
                        </mif:graphEdge>
                     </mif:anchorage>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:specializedClass>
                  <mif:reference name="DosageInstruction"/>
               </mif:specializedClass>
            </mif:ownedEntryPoint>
         </mif:serializedStaticModel>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT220100CA.xsd"/>
   <xs:include schemaLocation="COCT_MT220110CA.xsd"/>
   <xs:include schemaLocation="COCT_MT220200CA.xsd"/>
   <xs:include schemaLocation="COCT_MT220210CA.xsd"/>
   <xs:complexType name="PORX_MT980040CA.ActEventCriterion">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="ActEventCriterion" isAbstract="false">
               <mif:businessName name="Administration Precondition"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Act"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.304" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="1.434" y="6.546"/>
                     <mif:size width="2.575" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>This sets the conditions for which a specific administration of the drug may be undertaken. Example: if headache persists for 2hrs or more 'take 2 tabs.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:usageNotes>
                     <mif:text>
                        <mif:p>To flag a prescription as “PRN” without specifying a condition, include the association but specify a null flavor for the Dosage Condition.</mif:p>
                     </mif:text>
                  </mif:usageNotes>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Indicates that prescription is a 'PRN' (as needed) prescription and that doses to be consumed cannot be accurately calculated. This has important compliance implications.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="text" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 maximumLength="200"
                                 isStructural="false">
                     <mif:businessName name="A:Dosage Condition"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>A free-form textual description of condition that must be met before the product may be administered to/by the patient.</mif:p>
                              <mif:p>Example:</mif:p>
                              <mif:p>When pressure exceeds 150/90 - Take 2 tabs</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows un-coded specifications of conditions in which the medication should be taken.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>RepeatPattern.prn (true when present)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.13.6 (true when present)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.13.7</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" attributeName="text"/>
                     <mif:type name="ST"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT980040CA.Component">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Component" isAbstract="false">
               <mif:businessName name="augmented by"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.318" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="6.706" y="2.180"/>
                     <mif:size width="2.617" height="0.569"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Indicates additional dosage instructions at the overall structured dosage level.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Some drugs are more effective under specific body conditions and/or time of the day. This allows providers to ensure that administration of the drug is carried out at specific time and condition that they desire.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="supplementalInstruction" type="PORX_MT980040CA.SupplementalInstruction"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="supplementalInstruction"
                                        minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="target"/>
                     <mif:participantClass>
                        <mif:reference name="SupplementalInstruction"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT980040CA.Component17">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Component17" isAbstract="false">
               <mif:businessName name="b:consists of"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.64" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Down">
                     <mif:position x="3.160" y="3.475"/>
                     <mif:size width="3.545" height="0.868"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Dosage instructions may be given as textual information (as in Ad-hoc Dosage Instructions specified above) or as a structured set of dosage lines. This association allows for the specification of structured dosage lines.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Structured dosage lines facilitate the checking of dosage appropriateness. It also allows for the formal calculation of days supply based on administration instructions and supplied quantity.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="sequenceNumber" sortKey="4"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 maximumLength="2"
                                 isStructural="false">
                     <mif:businessName name="A:Dosage Line Order"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Indicates the order in which dosage lines should be performed. Ensures that each step of multiple and complex SIGs (e.g ramp up/down) is in the desired order. Dosage lines with the same sequence number should be performed in parallel.</mif:p>
                              <mif:p>E.g. 2 tabs tid for 3 days (sequence 1) and then 1 tab tid for 4 days (sequence 2)</mif:p>
                              <mif:p>E.g. 1 tab in the morning (sequence 1) and 2 tabs at bedtime (sequence 1)</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>Need examples to illustrate use of sequence lines with 'ANDs' and 'THENs'.</mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Clearly expresses the order of each dosage line to ensure the correct dosage is given. Element is mandatory to ensure that dosage lines are specified and followed in the order intended.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.13.10</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             attributeName="sequenceNumber"/>
                     <mif:type name="INT.POS"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="dosageLine" type="PORX_MT980040CA.DosageLine" nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="dosageLine" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="target"/>
                     <mif:participantClass>
                        <mif:reference name="DosageLine"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT980040CA.Component18">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Component18" isAbstract="false">
               <mif:businessName name="augmented by"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.298" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="30.0"
                                    nodeOrientation="Down">
                     <mif:position x="5.380" y="5.513"/>
                     <mif:size width="1.676" height="1.017"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Indicates additional riders that may be put on a SIG. Each dosage line or the entire set of dosage lines may be augmented by a modifier that puts a rider on the administration. Examples of such modifiers include: At bed time, before breakfast, etc</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Some drugs are more effective under specific body conditions and/or time of the day. This allows providers to ensure that administration of the drug is carried out at specific time and condition that they desire.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="supplementalInstruction" type="PORX_MT980040CA.SupplementalInstruction"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="supplementalInstruction"
                                        minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="target"/>
                     <mif:participantClass>
                        <mif:reference name="SupplementalInstruction"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT980040CA.Consumable1">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Consumable1" isAbstract="false">
               <mif:businessName name="*a:administers package component"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.113" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Up">
                     <mif:position x="3.881" y="1.013"/>
                     <mif:size width="2.241" height="0.614"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Identification of drug product that the instruction pertains to.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:usageNotes>
                     <mif:text>
                        <mif:p>The drug only needs to be specified if the administration instruction corresponds to one part of the overall product. For example, referring to the administration of a particular product from a combo-pack</mif:p>
                     </mif:text>
                  </mif:usageNotes>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows the provider to have different instructions for different medications (in a package) within an overall therapy. For example, the dispensed drug could be Didrocal, and there will be a separate dosage instruction for each of the two drugs in the package. May also be used for Duo-Packs (e.g. vaginal products consisting of an ovule and a cream).</mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>CMET selected must be 'response' for query responses,</mif:p>
                        <mif:p>non-response otherwise. Must use 'administrable' when</mif:p>
                        <mif:p>capturing dispenses, 'orderable' otherwise</mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.360" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="8.428" y="0.313"/>
                           <mif:size width="3.206" height="0.561"/>
                           <mif:anchorage connectToShapeId="Sheet.360">
                              <mif:position x="10.031" y="0.593"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.113">
                                    <mif:position x="6.122" y="1.382"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="medication1" type="COCT_MT220100CA.Medication" nillable="true"
                        minOccurs="1"
                        maxOccurs="1">
               <xs:annotation>
                  <xs:appinfo>
                     <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="medication1" minimumMultiplicity="1"
                                           maximumMultiplicity="1"
                                           conformance="R"
                                           isMandatory="false"
                                           sortKey="BZ">
                        <mif:annotations>
                           <mif:definition>
                              <mif:text/>
                           </mif:definition>
                        </mif:annotations>
                        <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable" traversalName="medication1"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable-response" traversalName="medication2"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable" traversalName="medication3"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable-response" traversalName="medication4"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable" traversalName="participant1"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable-response" traversalName="participant2"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable" traversalName="participant3"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable-response" traversalName="participant4"/>
                        <mif:participantClass>
                           <mif:reference name="Medication"/>
                        </mif:participantClass>
                     </mif:targetConnection>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="medication2" type="COCT_MT220110CA.Medication" nillable="true"
                        minOccurs="1"
                        maxOccurs="1">
               <xs:annotation>
                  <xs:appinfo>
                     <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="medication1" minimumMultiplicity="1"
                                           maximumMultiplicity="1"
                                           conformance="R"
                                           isMandatory="false"
                                           sortKey="BZ">
                        <mif:annotations>
                           <mif:definition>
                              <mif:text/>
                           </mif:definition>
                        </mif:annotations>
                        <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable" traversalName="medication1"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable-response" traversalName="medication2"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable" traversalName="medication3"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable-response" traversalName="medication4"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable" traversalName="participant1"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable-response" traversalName="participant2"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable" traversalName="participant3"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable-response" traversalName="participant4"/>
                        <mif:participantClass>
                           <mif:reference name="Medication"/>
                        </mif:participantClass>
                     </mif:targetConnection>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="medication3" type="COCT_MT220200CA.Medication" nillable="true"
                        minOccurs="1"
                        maxOccurs="1">
               <xs:annotation>
                  <xs:appinfo>
                     <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="medication1" minimumMultiplicity="1"
                                           maximumMultiplicity="1"
                                           conformance="R"
                                           isMandatory="false"
                                           sortKey="BZ">
                        <mif:annotations>
                           <mif:definition>
                              <mif:text/>
                           </mif:definition>
                        </mif:annotations>
                        <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable" traversalName="medication1"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable-response" traversalName="medication2"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable" traversalName="medication3"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable-response" traversalName="medication4"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable" traversalName="participant1"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable-response" traversalName="participant2"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable" traversalName="participant3"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable-response" traversalName="participant4"/>
                        <mif:participantClass>
                           <mif:reference name="Medication"/>
                        </mif:participantClass>
                     </mif:targetConnection>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="medication4" type="COCT_MT220210CA.Medication" nillable="true"
                        minOccurs="1"
                        maxOccurs="1">
               <xs:annotation>
                  <xs:appinfo>
                     <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="medication1" minimumMultiplicity="1"
                                           maximumMultiplicity="1"
                                           conformance="R"
                                           isMandatory="false"
                                           sortKey="BZ">
                        <mif:annotations>
                           <mif:definition>
                              <mif:text/>
                           </mif:definition>
                        </mif:annotations>
                        <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable" traversalName="medication1"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable-response" traversalName="medication2"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable" traversalName="medication3"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable-response" traversalName="medication4"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable" traversalName="participant1"/>
                        <mif:participantClassSpecialization className="R_MedicationOrderable-response" traversalName="participant2"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable" traversalName="participant3"/>
                        <mif:participantClassSpecialization className="R_MedicationAdministrable-response" traversalName="participant4"/>
                        <mif:participantClass>
                           <mif:reference name="Medication"/>
                        </mif:participantClass>
                     </mif:targetConnection>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CSM"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT980040CA.DosageInstruction">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="DosageInstruction" isAbstract="false">
               <mif:businessName name="Administration Instructions"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="SubstanceAdministration"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.1" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="3.232" y="1.627"/>
                     <mif:size width="3.474" height="1.848"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>This comprises all specifications necessary for the dispensed product to be administered to/by the patient in a manner as intended by the prescriber.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows providers to communicate intentions and to cross-check intended and actual methods of administration.</mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>routeCode is mandatory</mif:p>
                        <mif:p>and apporachSiteCode is</mif:p>
                        <mif:p>required if not using</mif:p>
                        <mif:p>SNOMED</mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.328" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="8.434" y="3.013"/>
                           <mif:size width="1.397" height="0.678"/>
                           <mif:anchorage connectToShapeId="Sheet.328">
                              <mif:position x="9.133" y="3.352"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.1">
                                    <mif:position x="6.706" y="3.290"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>- moodCode must be DEFN for drug definitions (such as monographs)</mif:p>
                        <mif:p>- moodCode must be RQO for orders;</mif:p>
                        <mif:p>- moodCode must be EVN for dispenses and recording of other medications</mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.324" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="8.434" y="1.074"/>
                           <mif:size width="4.198" height="0.678"/>
                           <mif:anchorage connectToShapeId="Sheet.324">
                              <mif:position x="10.533" y="1.413"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.1">
                                    <mif:position x="6.706" y="1.627"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="code" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="Dosage Type"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Distinguishes types of dosage.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>For SNOMED this will pre-coordinate route, body site and potentially drug. For non-SNOMED, this will be a fixed value of DRUG.</mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Distinguishes between types of dosage administration and is therefore mandatory. Datatype is CD to allow for SNOMED codes.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="SubstanceAdministration"
                                             attributeName="code"/>
                     <mif:type name="CD"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActCode" mnemonic="DRUG"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="text" sortKey="4" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 maximumLength="2000"
                                 isStructural="false">
                     <mif:businessName name="C:Rendered Dosage Instruction"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>A free form textual specification generated from the input specifications as created by the provider.</mif:p>
                              <mif:p>This is made up of either an 'Ad-hoc dosage instruction' or 'Textual rendition of the structured dosage lines', plus route, dosage unit, and other pertinent administration information specified by the provider.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows the provider to verify the codified structured dosage information entered and ensure that the exploded instruction is consistent with the intended instructions.</mif:p>
                              <mif:p>Also useful in bringing back administration instructions on query responses.</mif:p>
                              <mif:p>This is mandatory as dosage instructions must always be available in rendered form.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="SubstanceAdministration"
                                             attributeName="text"/>
                     <mif:type name="ST"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="effectiveTime" sortKey="5"
                                 minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="A:Administration Period"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The time period (begin and end dates) within which the dispensed medication is to be completely administered to/by the patient. May differ from date prescription was issued.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>Frequently only the duration (width) component is specified. E.g. 100mg tid for 10 days. In that case, the start date is presumed to be the date the prescription was written</mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Indicates the overall time boundaries in which the person is expected to take the drug. Denotes the reference point for calculating expected exhaustion date and quantity on hand.</mif:p>
                              <mif:p>Facilitates compliance checking.</mif:p>
                              <mif:p>Note: TID may be interpreted differently based on situation (e.g. based on schedules of a facility).</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Prescription.Admin istrationStartDate (Low)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Prescription.Admin istrationStopDate (High)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>DispensedItem.expectedStartDate</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="SubstanceAdministration"
                                             attributeName="effectiveTime"/>
                     <mif:type name="IVL">
                        <mif:supplierBindingArgumentDatatype name="TS.FULLDATE"/>
                     </mif:type>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="routeCode" type="CV" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="routeCode" sortKey="6"
                                 minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="A:Route Code"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>This is the means by which the dispensed drug is to be administered to the patient.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Ensures consistency in description of routes. Provides potential for cross-checking dosage form and route. Route is an optional because it is pre-coordinated with SubstanceAdministration.code when using SNOMED.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Prescription.route</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.14.2</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Compound.452-E8</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Immunization">
                           <mif:text>
                              <mif:p>RXR.1</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="SubstanceAdministration"
                                             attributeName="routeCode"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="RouteOfAdministration"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="approachSiteCode" type="CV" minOccurs="0" maxOccurs="5">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="approachSiteCode" sortKey="7"
                                 minimumMultiplicity="0"
                                 maximumMultiplicity="5"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="Administration Sites"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>A value denoting the body area where the medicine should be administered. E.g. 'Right Elbow', 'Left Ear'. When multiples sites are specified they should be treated as 'AND'.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows specificity when a drug can potentially be applied to different parts of the patien's body. Multiple repetitions are used when the product should be administered to multiple parts of the body. CWE is used because using a code system is not essential for understanding or analyzing the prescription. The attribute is optional because it can be pre-coordinated with SubstanceAdministration.code when using SNOMED.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="SubstanceAdministration"
                                             attributeName="approachSiteCode"/>
                     <mif:type name="SET">
                        <mif:supplierBindingArgumentDatatype name="CV"/>
                     </mif:type>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="HumanSubstanceAdministrationSite"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="maxDoseQuantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="2">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="maxDoseQuantity" sortKey="8"
                                 minimumMultiplicity="0"
                                 maximumMultiplicity="2"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="D:Maximum Daily/Weekly Doses"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The maximum amount of the dispensed medication to be administered to the patient in a 24-hr period (doses per day) or in a 7 day period (doses per week).</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>This field can only capture maximum doses based on explicit time periods. Dosage maximums based on other constraints such as patient lifetime, menstrual cycles must be recorded using additional dosage instruction comments.</mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Sets an upper boundary for the quantity of the drug to be administered over a specified period of time. Particularly useful for PRN medications.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPB3.5(denominator=1D)</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="SubstanceAdministration"
                                             attributeName="maxDoseQuantity"/>
                     <mif:type name="SET">
                        <mif:supplierBindingArgumentDatatype name="RTO">
                           <mif:supplierBindingArgumentDatatype name="PQ.DRUG"/>
                           <mif:supplierBindingArgumentDatatype name="PQ.TIME"/>
                        </mif:supplierBindingArgumentDatatype>
                     </mif:type>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="administrationUnitCode" type="CV" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="administrationUnitCode" sortKey="9"
                                 minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="Dosage Unit"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Identifies how the drug is measured for administration.</mif:p>
                              <mif:p>Specified when not implicit from the drug form (e.g. puff, inhalation, drops, etc.).</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Needed when the dosage unit is not expressed as part of the dose quantity (mg, mL) or implicit as part of the drug form (capsules, tablets). Examples are Puffs, Actuations, etc.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="SubstanceAdministration"
                                             attributeName="administrationUnitCode"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="AdministrableDrugForm"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="consumable" type="PORX_MT980040CA.Consumable1" nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="consumable" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="AAE_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Consumable1"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="component1" type="PORX_MT980040CA.Component" nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="component1" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BE________">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="outboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Component"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="component2" type="PORX_MT980040CA.Component17" nillable="true"
                     minOccurs="0"
                     maxOccurs="20">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="component2" minimumMultiplicity="0"
                                        maximumMultiplicity="20"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BE________">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="outboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Component17"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="x_ActMoodDefEvnRqo" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT980040CA.DosageLine">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="DosageLine" isAbstract="false">
               <mif:businessName name="Structured Dosage Lines"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="SubstanceAdministration"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.13" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="3.226" y="4.332"/>
                     <mif:size width="3.307" height="1.181"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>This information, along with the order/sequence of the dosage lines, constitutes the details of a structured dosage instruction.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Enables SIG instructions to be discretely specified. Also, supports scaling doses and parallel dose specification.</mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>- moodCode must be DEFN for drug definitions (such as monographs)</mif:p>
                        <mif:p>- moodCode must be RQO for orders;</mif:p>
                        <mif:p>- moodCode must be EVN for dispenses and recording of other medications</mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.336" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="8.436" y="5.052"/>
                           <mif:size width="4.198" height="0.561"/>
                           <mif:anchorage connectToShapeId="Sheet.336">
                              <mif:position x="10.535" y="5.332"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.13">
                                    <mif:position x="6.533" y="5.277"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>Either an Ad-hoc Dosage Line or (Dosage Timing/Frequency</mif:p>
                        <mif:p>+ Dosage Range + possibly Dosage Rate) may be specified</mif:p>
                        <mif:p>t one time</mif:p>
                        <mif:p>}</mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.9" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="8.412" y="4.235"/>
                           <mif:size width="3.323" height="0.678"/>
                           <mif:anchorage connectToShapeId="Sheet.9">
                              <mif:position x="10.073" y="4.574"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.13">
                                    <mif:position x="6.533" y="4.568"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="text" sortKey="3" minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 maximumLength="2000"
                                 isStructural="false">
                     <mif:businessName name="C:Ad-hoc Dosage Instruction"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>A free form description of how the dispensed medication is to be administered to the patient.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>This field must not be used for components of the prescription that are coded elsewhere.(e.g. Coded Dosage Timing).</mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Not all dosage instructions can easily be expressed in formal terms</mif:p>
                              <mif:p>Allows dosage instructions to be sent across as one string of information without breaking it up.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>DispensedItem.instruction</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Prescription.instruction</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="MOXXI">
                           <mif:text>
                              <mif:p>D99.02</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PEI">
                           <mif:text>
                              <mif:p>X0201</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPB3.16</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>DRU.030-02</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="SubstanceAdministration"
                                             attributeName="text"/>
                     <mif:type name="ST"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="effectiveTime" sortKey="4"
                                 minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="C:Dosage Timing/Frequency"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>A structure describing the frequency (how often the drug is to be administered), offset (elapse time between administrations) represented by one line of dosage administration instruction. Includes the overall time-period the dosage instruction applies.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Together with the dose quantity, indicates the overall quantity of drug.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>DosageItem.Duration(OuterInterval.Width)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>DosageItem.StartDate(OuterInterval.Low)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>RepeatPattern.PatternCode(PIVL - codes will need to be mapped to and from formal GTS expressions)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>RepeatPattern.uncodedPattern (PIVL.originalText)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.13.2.1 (PIVL.period)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>DP.13.2.2 (single time or list of times)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>PID.13.3 (outer IVL&lt;TS&gt;.width)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>PID.13.4 (outer IVL&lt;TS&gt;.low)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>PID.13.5 (outer IVL&lt;TS&gt;.high)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="HC-SA">
                           <mif:text>
                              <mif:p>Frequency</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="SubstanceAdministration"
                                             attributeName="effectiveTime"/>
                     <mif:type name="GTS.BOUNDEDPIVL"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="doseQuantity" type="URG_PQ" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="doseQuantity" sortKey="5"
                                 minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="D:Dosage Range"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>This specifies the minimum and maximum amount of the medication to be taken during a single administration.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>Where no range is needed, a single value should be specified as the center, with a width of 0.</mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Enables the checking of administration compliance that could results in fill-too-soon/fill-too-late contraindications. Supports circumstances where the dose can vary. (e.g. 1-2 tablets)</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>DosageItem.DosageRange</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.13.1</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="HC-SA">
                           <mif:text>
                              <mif:p>Dosage</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="SubstanceAdministration"
                                             attributeName="doseQuantity"/>
                     <mif:type name="URG">
                        <mif:supplierBindingArgumentDatatype name="PQ.DRUG"/>
                     </mif:type>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="rateQuantity" type="URG_PQ" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="rateQuantity" sortKey="6"
                                 minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="E:Dosage Rate"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>For intravenous and other such routes, this is the time period over which one dose is to be administered. The flow rate is determined by dividing the dose quantity by the Dosage rate.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Required for intravenous administration</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="SubstanceAdministration"
                                             attributeName="rateQuantity"/>
                     <mif:type name="URG">
                        <mif:supplierBindingArgumentDatatype name="PQ.TIME"/>
                     </mif:type>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="trigger" type="PORX_MT980040CA.Trigger" nillable="true" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="trigger" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BCB_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="outboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Trigger"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="component" type="PORX_MT980040CA.Component18" nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="component" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BE________">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="outboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Component18"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="x_ActMoodDefEvnRqo" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT980040CA.SupplementalInstruction">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="SupplementalInstruction" isAbstract="false">
               <mif:businessName name="Additional SIG Instruction"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="SubstanceAdministration"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.294" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="4.580" y="6.530"/>
                     <mif:size width="3.307" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:graphicRepresentation presentation="HL7Shadow">
                  <mif:graphElement shapeId="Sheet.314" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="9.323" y="2.038"/>
                     <mif:size width="1.712" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>This is a modifier for a specific dosage line or for the entire SIG. Examples are: On empty stomach, At breakfast, before bedtime, etc.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Adds further constraint or flexibility to the primary administration instruction.</mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>- moodCode must be DEFN for drug definitions (such as as monographs)</mif:p>
                        <mif:p>- moodCode must be RQO for orders;</mif:p>
                        <mif:p>- moodCode must be EVN for dispenses and recording of other medications {</mif:p>
                        <mif:p>x.;</mif:p>
                        <mif:p>}</mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.332" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="8.477" y="6.513"/>
                           <mif:size width="4.315" height="0.794"/>
                           <mif:anchorage connectToShapeId="Sheet.332">
                              <mif:position x="10.634" y="6.910"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.294">
                                    <mif:position x="7.887" y="6.980"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="text" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 maximumLength="200"
                                 isStructural="false">
                     <mif:businessName name="F:Additional Dosage Instruction"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>A free form textual description of extended instruction regarding the administration of the drug.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows for expression of non-codable qualifiers such as: 'on an empty stomach', 'add water' etc; which do not affect calculations of frequencies or quantity.</mif:p>
                              <mif:p>This attribute is marked as 'mandatory' as it is the only information that can be specified here.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.13.8</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="SubstanceAdministration"
                                             attributeName="text"/>
                     <mif:type name="ST"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="x_ActMoodDefEvnRqo" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT980040CA.Trigger">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Trigger" isAbstract="false">
               <mif:businessName name="performed when"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.308" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="30.0"
                                    nodeOrientation="Down">
                     <mif:position x="2.430" y="5.513"/>
                     <mif:size width="1.676" height="1.033"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Indicates condition(s) that must be satisfied for the dosage instruction conveyed by a dosage line to be carried out.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:usageNotes>
                     <mif:text>
                        <mif:p>The presence of this association indicates that the dosage line is "PRN" (as needed). If no condition is specified, the detailed condition and target time attributes may be omitted.</mif:p>
                     </mif:text>
                  </mif:usageNotes>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows providers to specify administration constraints that are not frequency-related. . E.g. “Take on waking”, “Take 1 hour before intercourse”</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="actEventCriterion" type="PORX_MT980040CA.ActEventCriterion"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="actEventCriterion" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="target"/>
                     <mif:participantClass>
                        <mif:reference name="ActEventCriterion"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="TRIG"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="false"/>
   </xs:complexType>
</xs:schema>