HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/PORX_MT060020CA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type PORX_MT060020CA.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.26 2006/01/23 23:56:47 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.4 2006/01/24 00:00:00 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
      <xs:appinfo>
         <mif:serializedStaticModel xmlns:mif="urn:hl7-org:v3/mif" packageKind="realm"
                                    representationKind="serialized"
                                    isSerializable="true"
                                    isAbstract="false"
                                    name="CA">
            <mif:packageLocation root="DEFN" section="HM" subSection="PO" domain="RX" artifact="MT-deprecated"
                                 realm="CA"
                                 id="060020"/>
            <mif:header>
               <mif:renderingInformation schemaVersion="1" application="Visio to MIF transform"/>
               <mif:legalese copyrightOwner="Health Level Seven" copyrightYears="2006"/>
            </mif:header>
            <mif:graphicRepresentation presentation="HL7">
               <mif:graphElement name="Main">
                  <mif:position x="0.0" y="0.0"/>
                  <mif:size width="21.412" height="6.979"/>
               </mif:graphElement>
            </mif:graphicRepresentation>
            <mif:derivationSupplier staticModelDerivationId="1">
               <mif:targetStaticModel root="DEFN" artifact="RIM" version="00"/>
            </mif:derivationSupplier>
            <mif:ownedEntryPoint id="PORX_MT060020CA" name="Device Dispense summary" isAbstract="false">
               <mif:graphicRepresentation>
                  <mif:graphElement shapeId="Sheet.41" containerDiagramName="Main">
                     <mif:position x="9.644" y="0.028"/>
                     <mif:size width="1.844" height="0.453"/>
                     <mif:anchorage connectToShapeId="Sheet.41">
                        <mif:position x="10.553" y="0.481"/>
                        <mif:graphEdge>
                           <mif:anchor connectToShapeId="Sheet.578">
                              <mif:position x="10.579" y="1.158"/>
                           </mif:anchor>
                        </mif:graphEdge>
                     </mif:anchorage>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:specializedClass>
                  <mif:reference name="DeviceDispense"/>
               </mif:specializedClass>
            </mif:ownedEntryPoint>
         </mif:serializedStaticModel>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT240003CA.xsd"/>
   <xs:include schemaLocation="COCT_MT141007CA.xsd"/>
   <xs:include schemaLocation="COCT_MT090107CA.xsd"/>
   <xs:complexType name="PORX_MT060020CA.AnnotationIndicator">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="AnnotationIndicator" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="Act"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.66" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="14.802" y="3.704"/>
                     <mif:size width="2.130" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text/>
                  </mif:definition>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="statusCode" sortKey="3"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="completed"
                                 isStructural="false">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" attributeName="statusCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActStatus" mnemonic="completed"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT060020CA.Author2">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Author2" isAbstract="false">
               <mif:businessName name="*b:prescribed by"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.29" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Left">
                     <mif:position x="1.202" y="3.466"/>
                     <mif:size width="3.260" height="0.436"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>This is the provider who authorized the device to be dispensed to the patient.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>To be a legal order, the person responsible for its creation must be identified. Thus the association is mandatory.</mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:mapping sourceName="PIN">
                     <mif:text>
                        <mif:p>Prescription.Prescriber</mif:p>
                     </mif:text>
                  </mif:mapping>
                  <mif:mapping sourceName="NeCST">
                     <mif:text>
                        <mif:p>A_BillablePharmacyDispense</mif:p>
                     </mif:text>
                  </mif:mapping>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="time" sortKey="2" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="Prescription Order Date"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The date and time at which the device was prescribed. This may differ from the date on which the prescription becomes effective. E.g. A prescription created today may not be valid to be dispensed or used for two weeks.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Indicates when the action was performed, and may influence expiry dates for the order.</mif:p>
                              <mif:p>The attribute is populated as it will not be there for inferred prescriptions.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Prescription.prescribedDate</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PEI">
                           <mif:text>
                              <mif:p>Date prescription written</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.8</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>DRU.040-02 (low, qualifier=85, format=102)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>DRU.040-02 (low, qualifier=LO, format=102, where filter type = most recent)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Claim:414-DE</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" attributeName="time"/>
                     <mif:type name="TS.FULLDATETIME"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="assignedPerson" type="COCT_MT090107CA.AssignedPerson" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="assignedPerson" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="R_AssignedPersonInformational"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT060020CA.Component2">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Component2" isAbstract="false">
               <mif:businessName name="includes"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.968" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="12.171" y="5.923"/>
                     <mif:size width="2.629" height="0.569"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Indicates the days supply and quantity of devices dispensed.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Dispense is not complete without specifying quantity dispensed, and thus this association is mandatory.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="supplyEvent" type="PORX_MT060020CA.SupplyEvent" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="supplyEvent" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="target"/>
                     <mif:participantClass>
                        <mif:reference name="SupplyEvent"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT060020CA.DetectedIssueIndicator">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="DetectedIssueIndicator" isAbstract="false">
               <mif:businessName name="Issue Indicator"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Observation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.113" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="14.802" y="4.779"/>
                     <mif:size width="2.130" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Indicates that there are issues associated with this prescription.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>The presence of issues can be of clinical significance and may prompt a clinician to wish to drill down for further information.</mif:p>
                        <mif:p>This element behaves as a mandatory attribute which is true when the association is present and false when it is absent.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="statusCode" sortKey="3"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="completed"
                                 isStructural="false">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation" attributeName="statusCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActStatus" mnemonic="completed"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ALRT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT060020CA.DeviceDispense">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="DeviceDispense" isAbstract="false">
               <mif:businessName name="Dispense"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Supply"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.578" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="false">
                     <mif:position x="8.987" y="1.158"/>
                     <mif:size width="3.183" height="5.520"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Represents the dispensing of a device to a patient.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Communicates an overview of a patient's dispenses.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="id" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="A:Prescription Dispense Number"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The Prescription Dispense Number is a globally unique number assigned to a dispense (single fill) by the EHR/DIS irrespective of the source of the dispense.</mif:p>
                              <mif:p>It is created by the EHR/DIS once the dispense has passed all edits and validation.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows for the referencing of a specific dispense record.</mif:p>
                              <mif:p>Identifier for a dispensed record is needed so that dispenses may be uniquely referenced. Thus the mandatory requirement.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Supply" attributeName="id"/>
                     <mif:type name="II"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="statusCode" sortKey="4"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="C:Dispense Status"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Indicates the status of the dispense record created on the EHR/DIS. If 'Active' it means that the dispense has been processed but not yet given to the patient. If 'Complete', it indicates that the medication has been delivered to the patient.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Important in understanding what medication the patient actually has on hand, thus the attribute is mandatory. May also influence the ability of a different pharmacy to dispense the medication.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Supply" attributeName="statusCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActStatus"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="confidentialityCode" type="CV" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="confidentialityCode" sortKey="5"
                                 minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="E:Prescription Masking Indicator"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Communicates the intent of the patient to restrict access to their prescriptions.</mif:p>
                              <mif:p>Provides support for additional confidentiality constraint, giving patients a level of control over their information.</mif:p>
                              <mif:p>Valid values are: 'NORMAL' (denotes 'Not Masked'); and 'RESTRICTED' (denotes 'Masked').</mif:p>
                              <mif:p>The default is 'NORMAL' signifying 'Not Masked'.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows the patient to have discrete control over access to their medication data.</mif:p>
                              <mif:p>The attribute is optional because not all systems will support masking.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Supply"
                                             attributeName="confidentialityCode"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="x_VeryBasicConfidentialityKind"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="responsibleParty" type="PORX_MT060020CA.ResponsibleParty" nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="responsibleParty" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="AC________">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="ResponsibleParty"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="performer" type="PORX_MT060020CA.Performer" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="performer" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AD________">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Performer"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="location" type="PORX_MT060020CA.Location" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="location" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AJ________">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Location"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="component" type="PORX_MT060020CA.Component2" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="component" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BE________">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="outboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Component2"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="fulfillment" type="PORX_MT060020CA.InFulfillmentOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="fulfillment" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="CBA_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="inboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="InFulfillmentOf"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="subjectOf1" type="PORX_MT060020CA.Subject4" nillable="true" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="subjectOf1" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="CDB_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="inboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Subject4"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="subjectOf2" type="PORX_MT060020CA.Subject3" nillable="true" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="subjectOf2" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="CDB_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="inboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Subject3"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SPLY"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT060020CA.InFulfillmentOf">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="InFulfillmentOf" isAbstract="false">
               <mif:businessName name="a:dispensed Prescription Reference"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.296" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="6.342" y="3.609"/>
                     <mif:size width="2.645" height="0.569"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Indicates the prescription that was dispensed.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Links the dispense act to the prescription order it was performed against.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="supplyRequest" type="PORX_MT060020CA.SupplyRequest" nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="supplyRequest" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="AZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="source"/>
                     <mif:participantClass>
                        <mif:reference name="SupplyRequest"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="FLFS"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT060020CA.Location">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Location" isAbstract="false">
               <mif:businessName name="*dispensed from"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.958" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="12.171" y="2.715"/>
                     <mif:size width="2.527" height="0.436"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Identification of the service delivery location where the device was dispensed.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Used for follow-up communication on the dispensed product, and therefore mandatory.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="serviceDeliveryLocation" type="COCT_MT240003CA.ServiceDeliveryLocation"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="serviceDeliveryLocation"
                                        minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="R_ServiceDeliveryLocationContact"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="LOC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT060020CA.Performer">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Performer" isAbstract="false">
               <mif:businessName name="*dispensed by"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.946" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="12.171" y="1.243"/>
                     <mif:size width="2.541" height="0.436"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Identifier of the health service provider who dispensed the device to the patient.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Identity of the dispenser must be known, and therefore mandatory.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedPerson" type="COCT_MT090107CA.AssignedPerson" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="assignedPerson" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="R_AssignedPersonInformational"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT060020CA.Product2">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Product2" isAbstract="false">
               <mif:businessName name="*e:dispensed"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.415" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="17.594" y="6.186"/>
                     <mif:size width="2.388" height="0.436"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Identifies the product that was dispensed.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Identifies the device as part of the patient's profile. The device is one of the most important parts of the dispense record, and it is therefore mandatory.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedProduct" type="COCT_MT141007CA.ManufacturedProduct"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="manufacturedProduct" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="R_ManufacturedDeviceIdentified-informational"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRD"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT060020CA.ResponsibleParty">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="ResponsibleParty" isAbstract="false">
               <mif:businessName name="supervised by"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.974" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="12.171" y="1.826"/>
                     <mif:size width="2.541" height="0.436"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Identity of the provider who is taking responsibility for the actions of the author.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows for the trail of responsibility for the action.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedPerson" type="COCT_MT090107CA.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="assignedPerson" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="R_AssignedPersonInformational"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RESP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT060020CA.ResponsibleParty2">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="ResponsibleParty2" isAbstract="false">
               <mif:businessName name="supervised by"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.980" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Left">
                     <mif:position x="1.202" y="4.137"/>
                     <mif:size width="3.260" height="0.303"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Identity of the provider who is taking responsibility for the actions of the author.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows for the trail of responsibility for the action.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedPerson" type="COCT_MT090107CA.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="assignedPerson" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="R_AssignedPersonInformational"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RESP"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT060020CA.Subject3">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Subject3" isAbstract="false">
               <mif:businessName name="Notes Indicator"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.74" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Left">
                     <mif:position x="12.171" y="3.610"/>
                     <mif:size width="2.631" height="0.703"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>If true, indicates that there are notes associated with the record.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Indicates whether there is information available on drill-down.</mif:p>
                        <mif:p>This element behaves as a mandatory attribute which is true when the association is present and false when it is absent.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="subsetCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="subsetCode" sortKey="4"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="SUM"
                                 isStructural="false">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             attributeName="subsetCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActRelationshipSubset" mnemonic="SUM"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="annotationIndicator" type="PORX_MT060020CA.AnnotationIndicator"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="annotationIndicator" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="AZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="source"/>
                     <mif:participantClass>
                        <mif:reference name="AnnotationIndicator"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT060020CA.Subject4">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Subject4" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.80" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Left">
                     <mif:position x="12.171" y="4.775"/>
                     <mif:size width="2.631" height="0.703"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text/>
                  </mif:definition>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="subsetCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="subsetCode" sortKey="4"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="SUM"
                                 isStructural="false">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             attributeName="subsetCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActRelationshipSubset" mnemonic="SUM"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="detectedIssueIndicator" type="PORX_MT060020CA.DetectedIssueIndicator"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="detectedIssueIndicator"
                                        minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="AZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="source"/>
                     <mif:participantClass>
                        <mif:reference name="DetectedIssueIndicator"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT060020CA.SupplyEvent">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="SupplyEvent" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="Supply"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.964" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="14.800" y="5.698"/>
                     <mif:size width="2.794" height="1.181"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text/>
                  </mif:definition>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="effectiveTime" sortKey="3"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="Dispense Processing and Pickup Date"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Represents the date the dispense product was prepared and when the product was picked up by or delivered to the patient. The dispense processing date and pickup date can be back dated to reflect when the actual processing and pickup occurred. The lower-bound of the period signifies the dispense-processing date whereas the upper-bound signifies the dispense-pickup date.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Used by the system in calculating expected exhaustion time. Valuable in compliance checking.</mif:p>
                              <mif:p>This attribute is mandatory because an existing dispense record must at least indicate the date it was processed.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPB3.9</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.17 (high)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>DRU.040-02 (low, qualifier=07, format=102)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>DRU.040-02 (low, qualifier=36, format=102)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NeCST">
                           <mif:text>
                              <mif:p>A_BillablePharmacyDispense</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PEI">
                           <mif:text>
                              <mif:p>Dispense Date</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Ontario">
                           <mif:text>
                              <mif:p>Dispense Date</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>DispensedItem.dispenseDate</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NeCST">
                           <mif:text>
                              <mif:p>A_BillablePharmacyDispense</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Supply" attributeName="effectiveTime"/>
                     <mif:type name="IVL">
                        <mif:supplierBindingArgumentDatatype name="TS.FULLDATE"/>
                     </mif:type>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="quantity" type="INT" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="quantity" sortKey="4"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="Dispensed Quantity"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The number of devices that have been dispensed.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Critical in understanding the patient's profile, both past and current, This is also mandatory to allow determination of the amount that remains to be dispensed against the prescription.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="CPhAv3">
                           <mif:text>
                              <mif:p>D58</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPB3.4</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.10.1</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.10.2.1 (the fact that it is package is determined by a playing entity)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.9.1</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.9.2.1 (the fact that it is package is determined by a playing entity)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>DRU.020-01 (Unit, qualifier=38 0r 87)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>DRU.020-02 (Quantity, qualifier=38 0r 87)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>DRU.020-03 (qualifier=38 0r 87)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Claim.442-E7</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Claim.460-ET</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Claim.600-28</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NeCST">
                           <mif:text>
                              <mif:p>A_BillablePharmacyDispense</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Ontario">
                           <mif:text>
                              <mif:p>Quantity</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>DispensedItem.dispensedAmount</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Supply" attributeName="quantity"/>
                     <mif:type name="INT.POS"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="expectedUseTime" type="IVL_TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="expectedUseTime" sortKey="5"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="Dispensed Days Supply"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The number of days that the dispensed quantity is expected to last. Cannot be mandatory as there are some situations where 'as needed' cannot be used to determine days supply.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Useful in monitoring patient compliance. May also be useful in determining and managing certain contraindications ('Fill-Too-Soon', 'Fill-Too-Late', and 'Duration of Therapy'). Because 'Days Supply' may be necessary to compute total dispensed quantity, it is made a 'populated' field.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="CPhAv3">
                           <mif:text>
                              <mif:p>D59(width)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.11</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>DRU.040-02 (low, qualifier=ZDS, format=804)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Claim.405-D5</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NeCST">
                           <mif:text>
                              <mif:p>A_BillablePharmacyDispense</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="Ontario">
                           <mif:text>
                              <mif:p>Days Supply</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>DispensedItem.daysSupply</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Supply" attributeName="expectedUseTime"/>
                     <mif:type name="IVL.WIDTH">
                        <mif:supplierBindingArgumentDatatype name="TS.FULLDATE"/>
                     </mif:type>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="product" type="PORX_MT060020CA.Product2" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="product" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AAF_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Product2"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SPLY"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT060020CA.SupplyRequest">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="SupplyRequest" isAbstract="false">
               <mif:businessName name="Prescription Reference"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Supply"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.252" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="false">
                     <mif:position x="4.462" y="3.479"/>
                     <mif:size width="1.880" height="0.975"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>A reference to the prescription order being dispensed</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Links a dispense with its parent prescription.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="id" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="A:Prescription Identifier"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>This is an identifier assigned to a specific device order. The number remains constant across the lifetime of the order, regardless of the number of providers or pharmacies involved in fulfilling the order.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows prescriptions to be uniquely referenced and associated with the dispense.</mif:p>
                              <mif:p>The ID is mandatory because the DIS would always assign a Prescription Number.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Supply" attributeName="id"/>
                     <mif:type name="II"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="responsibleParty" type="PORX_MT060020CA.ResponsibleParty2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="responsibleParty" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="AC________">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="ResponsibleParty2"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="author" type="PORX_MT060020CA.Author2" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="author" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AEA_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Author2"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SPLY"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
</xs:schema>