HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/PORX_MT010140CA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type PORX_MT010140CA.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.26 2006/01/23 23:56:47 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.4 2006/01/24 00:00:00 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
      <xs:appinfo>
         <mif:serializedStaticModel xmlns:mif="urn:hl7-org:v3/mif" packageKind="realm"
                                    representationKind="serialized"
                                    isSerializable="true"
                                    isAbstract="false"
                                    name="CA">
            <mif:packageLocation root="DEFN" section="HM" subSection="PO" domain="RX" artifact="MT-deprecated"
                                 realm="CA"
                                 id="010140"/>
            <mif:header>
               <mif:renderingInformation schemaVersion="1" application="Visio to MIF transform"/>
               <mif:legalese copyrightOwner="Health Level Seven" copyrightYears="2006"/>
            </mif:header>
            <mif:graphicRepresentation presentation="HL7">
               <mif:graphElement name="Main">
                  <mif:position x="0.0" y="0.0"/>
                  <mif:size width="10.210" height="3.471"/>
               </mif:graphElement>
            </mif:graphicRepresentation>
            <mif:derivationSupplier staticModelDerivationId="1">
               <mif:targetStaticModel root="DEFN" artifact="RIM" version="00"/>
            </mif:derivationSupplier>
            <mif:ownedEntryPoint id="PORX_MT010140CA" name="Rx Transfer" isAbstract="false">
               <mif:graphicRepresentation>
                  <mif:graphElement shapeId="Sheet.41" containerDiagramName="Main">
                     <mif:position x="4.830" y="0.028"/>
                     <mif:size width="1.075" height="0.453"/>
                     <mif:anchorage connectToShapeId="Sheet.41">
                        <mif:position x="5.365" y="0.481"/>
                        <mif:graphEdge>
                           <mif:anchor connectToShapeId="Sheet.48">
                              <mif:position x="5.371" y="1.066"/>
                           </mif:anchor>
                        </mif:graphEdge>
                     </mif:anchorage>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:specializedClass>
                  <mif:reference name="SupplyRequest"/>
               </mif:specializedClass>
            </mif:ownedEntryPoint>
         </mif:serializedStaticModel>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT240003CA.xsd"/>
   <xs:include schemaLocation="COCT_MT220100CA.xsd"/>
   <xs:complexType name="PORX_MT010140CA.ActRequest">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="ActRequest" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="Act"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.5" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="0.107" y="0.937"/>
                     <mif:size width="2.164" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text/>
                  </mif:definition>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="id" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="A:Prescription Order Number"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>This is an identifier assigned to a specific medication order. The number remains constant across the lifetime of the order, regardless of the number of providers or pharmacies involved in fulfilling the order.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows prescriptions to be uniquely referenced. Multiple identifiers are allowed to support assigning of prescription ids by the prescriber, EHR, and potentially by pharmacies.</mif:p>
                              <mif:p>The ID is mandatory to allow every prescription record to be uniquely identified.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Prescription.prescriptionNumber</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Prescription.prescriptionExternalKey</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="CPhAv3">
                           <mif:text>
                              <mif:p>D53(ID for the prescription assigned by pharmacy)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="CPhAv3">
                           <mif:text>
                              <mif:p>D55(ID for the dispense event)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="MOXXI">
                           <mif:text>
                              <mif:p>D99.01</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PEI">
                           <mif:text>
                              <mif:p>X0101(id for prescription)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.5</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.6</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZDP.22</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PECS">
                           <mif:text>
                              <mif:p>ZRV.5</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>DRU.080-01(extension)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>DRU.080-02(route)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Claim.455-EM (route)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Claim.402-D2 (extension)</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Claim.456-EN</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NCPDP">
                           <mif:text>
                              <mif:p>Claim.454-EK</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="NeCST">
                           <mif:text>
                              <mif:p>A_BillablePharmacyDispense</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" attributeName="id"/>
                     <mif:type name="II"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="precondition" type="PORX_MT010140CA.Precondition" nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="precondition" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BCD_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="outboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Precondition"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT010140CA.Component6">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Component6" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.58" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="2.271" y="1.054"/>
                     <mif:size width="2.475" height="0.569"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text/>
                  </mif:definition>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="actRequest" type="PORX_MT010140CA.ActRequest" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="actRequest" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="source"/>
                     <mif:participantClass>
                        <mif:reference name="ActRequest"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT010140CA.InFulfillmentOf">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="InFulfillmentOf" isAbstract="false">
               <mif:businessName name="has"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.642" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Up">
                     <mif:position x="4.260" y="1.816"/>
                     <mif:size width="2.247" height="0.895"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Indicates any remaining dispense quantity associated with the prescription.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows updating the remaining dispense quantity at the time the prescription is transferred. Multiple repetitions are allowed for those circumstances where the prescription orders multiple drugs (e.g. 10mg tablets plus 40mg tablets).</mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>Product only needs to be specified when</mif:p>
                        <mif:p>multiple drugs are part of the same order</mif:p>
                        <mif:p>(e.g. 10mg tablets + 40mg tablets). Each</mif:p>
                        <mif:p>repetition must refer to a distinct drug</mif:p>
                        <mif:p>product.</mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.660" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="7.300" y="1.767"/>
                           <mif:size width="2.448" height="0.794"/>
                           <mif:anchorage connectToShapeId="Sheet.660">
                              <mif:position x="8.524" y="2.164"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.642">
                                    <mif:position x="6.507" y="2.326"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="subsetCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="subsetCode" sortKey="4"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="FUTSUM"
                                 isStructural="false">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             attributeName="subsetCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActRelationshipSubset" mnemonic="FUTSUM"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="supplyEvent" type="PORX_MT010140CA.SupplyEvent" nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="supplyEvent" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="AZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="source"/>
                     <mif:participantClass>
                        <mif:reference name="SupplyEvent"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="FLFS"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT010140CA.Location">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Location" isAbstract="false">
               <mif:businessName name="*to be dispensed at"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.622" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="50.0"
                                    nodeOrientation="Right">
                     <mif:position x="5.996" y="1.172"/>
                     <mif:size width="2.505" height="0.436"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Indicates the pharmacy to which the prescription is to be assigned.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:usageNotes>
                     <mif:text>
                        <mif:p>Use N/A for prescriptions controlled by the DIS and Unknown for prescriptions being transferred to paper.</mif:p>
                     </mif:text>
                  </mif:usageNotes>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows the prescription to be transferred to another pharmacy or back to the DIS. The association is marked as 'populated' because a specific null flavor is needed if no facility is identified</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="serviceDeliveryLocation" type="COCT_MT240003CA.ServiceDeliveryLocation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="serviceDeliveryLocation"
                                        minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="R_ServiceDeliveryLocationContact"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="LOC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT010140CA.Precondition">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Precondition" isAbstract="false">
               <mif:businessName name="B:Non-authoritative?"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.632" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Down">
                     <mif:position x="0.010" y="1.687"/>
                     <mif:size width="2.235" height="0.964"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>If true, indicates that the prescription is non-authoritative. I.e. A paper copy must be viewed before the prescription can be dispensed.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows distinguishing prescriptions where the paper copy is authoritative vs. the electronic copy being authoritative.</mif:p>
                        <mif:p>This attribute behaves as a 'mandatory' element where the presence of the association indicates that a paper prescription is needed and the absence of the association indicates that one is not.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="verificationEventCriterion"
                     type="PORX_MT010140CA.VerificationEventCriterion"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="verificationEventCriterion"
                                        minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="target"/>
                     <mif:participantClass>
                        <mif:reference name="VerificationEventCriterion"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="PRCN"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT010140CA.Product">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Product" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.648" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="6.700" y="2.817"/>
                     <mif:size width="2.397" height="0.436"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text/>
                  </mif:definition>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="medication" type="COCT_MT220100CA.Medication" nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="medication" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="R_MedicationOrderable"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRD"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT010140CA.SupplyEvent">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="SupplyEvent" isAbstract="false">
               <mif:businessName name="Remaining Dispenses"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Supply"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.638" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="4.091" y="2.711"/>
                     <mif:size width="2.609" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Indicates dispenses yet to be made against the prescription</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows updating the quantity remaining to be dispensed.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="PQ" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="quantity" sortKey="3"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="C:Remaining Quantity"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Indicates the remaining quantity to be dispensed.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>The specified remaining fill quantity may never be greater than the remaining quantity recorded in the electronic system. If not specified, the quantity remaining will be left unchanged.</mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Used to adjust quantity asserted with the electronic version of a prescription when fills have been issued by non-electronic pharmacies. Particularly important when the electronic version is being made 'authoritative' again.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Supply" attributeName="quantity"/>
                     <mif:type name="PQ.DRUG"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="product" type="PORX_MT010140CA.Product" nillable="true" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="product" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="AAF_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Product"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SPLY"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT010140CA.SupplyRequest">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="SupplyRequest" isAbstract="false">
               <mif:businessName name="Dispense Instructions"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Supply"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.48" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="4.746" y="1.066"/>
                     <mif:size width="1.250" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>This is the information that describes the authorization for a dispenser to dispense the prescription.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Sets the parameters within which the dispenser must operate.</mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:mapping sourceName="NeCST">
                     <mif:text>
                        <mif:p>A_BillablePharmacyDispense</mif:p>
                     </mif:text>
                  </mif:mapping>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="location" type="PORX_MT010140CA.Location" nillable="true" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="location" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="AJ________">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Location"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="fulfillment" type="PORX_MT010140CA.InFulfillmentOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="5">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="fulfillment" minimumMultiplicity="0"
                                        maximumMultiplicity="5"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="CBA_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="inboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="InFulfillmentOf"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="componentOf" type="PORX_MT010140CA.Component6" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="componentOf" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="CE________">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="inboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Component6"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SPLY"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT010140CA.VerificationEventCriterion">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="VerificationEventCriterion"
                       isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="Observation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.628" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="0.168" y="2.651"/>
                     <mif:size width="1.797" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text/>
                  </mif:definition>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="code" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="VFPAPER"
                                 isStructural="false">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation" attributeName="code"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActCode" mnemonic="VFPAPER"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="VERIF"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
   </xs:complexType>
</xs:schema>