HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/QUCR_MT810101.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type QUCR_MT810101.
* Source information:
*     Rendered by: RoseTree 3.0.8
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.12 2005/07/19 04:27:26 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.25 2005/07/09 20:20:15 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.12 2005/07/19 04:27:26 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="infrastructureRoot.xsd"/>
	<xs:include schemaLocation="NarrativeBlock.xsd"/>
	<xs:include schemaLocation="COCT_MT240000UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT110200.xsd"/>
	<xs:include schemaLocation="COCT_MT110100.xsd"/>
	<xs:complexType name="QUCR_MT810101.AdjudResultsCarrierRole">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
	</xs:complexType>
	<xs:complexType name="QUCR_MT810101.AdjudResultsFinancialContract">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassFinancialContract" use="optional" default="FCNTRCT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="QUCR_MT810101.AdjudResultsGroup">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="effectiveTime" type="IVL_TS"/>
			<xs:element name="netAmt" type="MO"/>
			<xs:element name="device" type="QUCR_MT810101.Device" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="QUCR_MT810101.Performer" nillable="true" minOccurs="0"/>
			<xs:element name="author" type="QUCR_MT810101.Author" nillable="true" minOccurs="0"/>
			<xs:element name="location" type="QUCR_MT810101.AdjudResultsGroupLocation" nillable="true" minOccurs="0"/>
			<xs:element name="reference" type="QUCR_MT810101.AdjudResultsGroupRef" nillable="true" minOccurs="0"/>
			<xs:element name="summary" type="QUCR_MT810101.AdjudResultsGroupSummary" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="credit" type="QUCR_MT810101.AdjudResultsGroupPayee" nillable="true" minOccurs="0"/>
			<xs:element name="debit" type="QUCR_MT810101.AdjudResultsGroupPayor" nillable="true" minOccurs="0"/>
			<xs:element name="component" type="QUCR_MT810101.AdjudResultsGroupComponent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="QUCR_MT810101.AdjudResultsGroupComponent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="adjudResultsGroup" type="QUCR_MT810101.AdjudResultsGroup" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
	</xs:complexType>
	<xs:complexType name="QUCR_MT810101.AdjudResultsGroupLocation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="serviceDeliveryLocation" type="COCT_MT240000UV01.ServiceDeliveryLocation" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationTargetLocation" use="optional" default="LOC"/>
	</xs:complexType>
	<xs:complexType name="QUCR_MT810101.AdjudResultsGroupPayee">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="account" type="COCT_MT110200.Account" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="CREDIT"/>
	</xs:complexType>
	<xs:complexType name="QUCR_MT810101.AdjudResultsGroupPayor">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="account" type="COCT_MT110100.Account" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="DEBIT"/>
	</xs:complexType>
	<xs:complexType name="QUCR_MT810101.AdjudResultsGroupRef">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="adjudResultsFinancialContract" type="QUCR_MT810101.AdjudResultsFinancialContract" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFR"/>
	</xs:complexType>
	<xs:complexType name="QUCR_MT810101.AdjudResultsGroupSummary">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="adjudResultsGroupSummaryData" type="QUCR_MT810101.AdjudResultsGroupSummaryData" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUMM"/>
	</xs:complexType>
	<xs:complexType name="QUCR_MT810101.AdjudResultsGroupSummaryData">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="value" type="ANY"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="QUCR_MT810101.AdjudResultsProviderRole">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
	</xs:complexType>
	<xs:complexType name="QUCR_MT810101.AdjudResultsSendingAppDevice">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClassDevice" use="optional" default="DEV"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="QUCR_MT810101.AdjudResultsSendingAppRole">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="playingAdjudResultsSendingAppDevice" type="QUCR_MT810101.AdjudResultsSendingAppDevice"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
	</xs:complexType>
	<xs:complexType name="QUCR_MT810101.Author">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="adjudResultsCarrierRole" type="QUCR_MT810101.AdjudResultsCarrierRole" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
	</xs:complexType>
	<xs:complexType name="QUCR_MT810101.Device">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="adjudResultsSendingAppRole" type="QUCR_MT810101.AdjudResultsSendingAppRole" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationTargetDevice" use="optional" default="DEV"/>
	</xs:complexType>
	<xs:complexType name="QUCR_MT810101.Performer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="adjudResultsProviderRole" type="QUCR_MT810101.AdjudResultsProviderRole" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="optional" default="PRF"/>
	</xs:complexType>
</xs:schema>
