HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/QUPA_MT101104CA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type QUPA_MT101104CA.
* Source information:
*     Rendered by: RoseTree 3.0.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.11 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.24 2005/05/24 05:44:09 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.11 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="infrastructureRoot.xsd"/>
	<xs:include schemaLocation="NarrativeBlock.xsd"/>
	<xs:include schemaLocation="COCT_MT150000UV02.xsd"/>
	<xs:include schemaLocation="COCT_MT030200.xsd"/>
	<xs:include schemaLocation="COCT_MT150003UV03.xsd"/>
	<xs:complexType name="QUPA_MT101104CA.IdentifiedEntity.id">
		<xs:complexContent>
			<xs:extension base="II">
				<xs:attribute name="unsorted" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QUPA_MT101104CA.IdentifiedEntity">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="QUPA_MT101104CA.IdentifiedEntity.id" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="identifiedPerson" type="QUPA_MT101104CA.Person" nillable="true"/>
			<xs:element name="assigningOrganization" type="COCT_MT150003UV03.Organization" nillable="true" minOccurs="0"/>
			<xs:element name="subjectOf" type="QUPA_MT101104CA.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="IDENT"/>
	</xs:complexType>
	<xs:complexType name="QUPA_MT101104CA.LanguageCommunication">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="languageCode" type="CE" minOccurs="0"/>
			<xs:element name="preferenceInd" type="BL" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
	</xs:complexType>
	<xs:complexType name="QUPA_MT101104CA.ObservationEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="value" type="ANY" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="QUPA_MT101104CA.OtherIDs">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="scopingOrganization" type="COCT_MT150000.Organization" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
	</xs:complexType>
	<xs:complexType name="QUPA_MT101104CA.ParentClient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CS"/>
			<xs:element name="relationshipHolder" type="COCT_MT030200.Person" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PRS"/>
	</xs:complexType>
	<xs:complexType name="QUPA_MT101104CA.Person.name" mixed="true">
		<xs:complexContent mixed="true">
			<xs:extension base="PN">
				<xs:attribute name="unsorted" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QUPA_MT101104CA.Person.addr" mixed="true">
		<xs:complexContent mixed="true">
			<xs:extension base="AD">
				<xs:attribute name="unsorted" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QUPA_MT101104CA.Person">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="QUPA_MT101104CA.Person.name" maxOccurs="unbounded"/>
			<xs:element name="administrativeGenderCode" type="CS" minOccurs="0"/>
			<xs:element name="birthTime" type="TS" minOccurs="0"/>
			<xs:element name="addr" type="QUPA_MT101104CA.Person.addr" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="asOtherIDs" type="QUPA_MT101104CA.OtherIDs" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="parentClient" type="QUPA_MT101104CA.ParentClient" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="languageCommunication" type="QUPA_MT101104CA.LanguageCommunication" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="QUPA_MT101104CA.Subject">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="observationEvent" type="QUPA_MT101104CA.ObservationEvent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
	</xs:complexType>
</xs:schema>
