HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/REPC_MT100002CA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type REPC_MT100002CA.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.26 2006/01/23 23:56:47 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.4 2006/01/24 00:00:00 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
      <xs:appinfo>
         <mif:serializedStaticModel xmlns:mif="urn:hl7-org:v3/mif" packageKind="realm"
                                    representationKind="serialized"
                                    isSerializable="true"
                                    isAbstract="false"
                                    name="CA">
            <mif:packageLocation root="DEFN" section="HM" subSection="RE" domain="PC" artifact="MT-deprecated"
                                 realm="CA"
                                 id="100002"/>
            <mif:header>
               <mif:renderingInformation schemaVersion="1" application="Visio to MIF transform"/>
               <mif:legalese copyrightOwner="Health Level Seven" copyrightYears="2006"/>
            </mif:header>
            <mif:graphicRepresentation presentation="HL7">
               <mif:graphElement name="Main">
                  <mif:position x="0.0" y="0.0"/>
                  <mif:size width="11.016" height="7.983"/>
               </mif:graphElement>
            </mif:graphicRepresentation>
            <mif:derivationSupplier staticModelDerivationId="1">
               <mif:targetStaticModel root="DEFN" artifact="RIM" version="00"/>
            </mif:derivationSupplier>
            <mif:ownedEntryPoint id="REPC_MT100002CA" name="Common Observation Query Response"
                                 isAbstract="false">
               <mif:graphicRepresentation>
                  <mif:graphElement shapeId="Sheet.41" containerDiagramName="Main">
                     <mif:position x="2.987" y="0.028"/>
                     <mif:size width="2.677" height="0.453"/>
                     <mif:anchorage connectToShapeId="Sheet.41">
                        <mif:position x="4.351" y="0.481"/>
                        <mif:graphEdge>
                           <mif:anchor connectToShapeId="Sheet.326">
                              <mif:position x="4.300" y="0.927"/>
                           </mif:anchor>
                        </mif:graphEdge>
                     </mif:anchorage>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:specializedClass>
                  <mif:reference name="CommonObservationEvent"/>
               </mif:specializedClass>
            </mif:ownedEntryPoint>
         </mif:serializedStaticModel>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT050203CA.xsd"/>
   <xs:include schemaLocation="COCT_MT090107CA.xsd"/>
   <xs:include schemaLocation="COCT_MT240003CA.xsd"/>
   <xs:include schemaLocation="COCT_MT120600CA.xsd"/>
   <xs:complexType name="REPC_MT100002CA.AnnotationIndicator">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="AnnotationIndicator" isAbstract="false">
               <mif:derivationSupplier staticModelDerivationId="1" className="Act"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.939" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="8.876" y="5.271"/>
                     <mif:size width="2.130" height="0.750"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text/>
                  </mif:definition>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="statusCode" sortKey="3"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="completed"
                                 isStructural="false">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" attributeName="statusCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActStatus" mnemonic="completed"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT100002CA.Author3">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Author3" isAbstract="false">
               <mif:businessName name="*b:recorded by"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.107" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="5.845" y="2.449"/>
                     <mif:size width="3.004" height="0.569"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Identifies the provider responsible for the recording the patient measurement.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:usageNotes>
                     <mif:text>
                        <mif:p>Only needs to be specified if the author of the annotation differs from the prescriber.</mif:p>
                     </mif:text>
                  </mif:usageNotes>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows tracking of who made the patient observation. This attribute is mandatory because the provider responsible for the observation must be known.</mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:mapping sourceName="PIN">
                     <mif:text>
                        <mif:p>Annotation.requestingProvider</mif:p>
                     </mif:text>
                  </mif:mapping>
                  <mif:mapping sourceName="BC">
                     <mif:text>
                        <mif:p>ZPB3.18 (id.root)</mif:p>
                     </mif:text>
                  </mif:mapping>
                  <mif:mapping sourceName="BC">
                     <mif:text>
                        <mif:p>ZPB3.19 (id.extension)</mif:p>
                     </mif:text>
                  </mif:mapping>
                  <mif:mapping sourceName="BC">
                     <mif:text>
                        <mif:p>ZPB3.15</mif:p>
                     </mif:text>
                  </mif:mapping>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="time" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="Recording Datetime"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The date and time on which the observation was recorded.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:usageNotes>
                           <mif:text>
                              <mif:p>If not specified, the author time of the overall order will be assumed.</mif:p>
                           </mif:text>
                        </mif:usageNotes>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>The date and time on which the observation was recorded.</mif:p>
                              <mif:p>Identifies timing of observation for sorting and for audit purposes. Attribute is populated because the source of the data may not be through the 'record common observation' interaction.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="BC">
                           <mif:text>
                              <mif:p>ZPB3.20</mif:p>
                           </mif:text>
                        </mif:mapping>
                        <mif:mapping sourceName="PIN">
                           <mif:text>
                              <mif:p>Annotation.annotationDate</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" attributeName="time"/>
                     <mif:type name="TS.FULLDATETIME"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="assignedPerson" type="COCT_MT090107CA.AssignedPerson" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="assignedPerson" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="R_AssignedPersonInformational"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT100002CA.CommonObservationEvent">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="CommonObservationEvent" isAbstract="false">
               <mif:businessName name="Patient Measurement"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Observation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.326" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="false">
                     <mif:position x="2.755" y="0.927"/>
                     <mif:size width="3.091" height="5.111"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>This comprises a single point-in-time measurement made about a patient.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows pertinent patient measurements to be recorded for clinical purposes.</mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>Measurement Type with a ‘nullFlavor’ value</mif:p>
                        <mif:p>must have SubObservations</mif:p>
                        <mif:p>Measurement Type without a ‘nullFlavor’ value</mif:p>
                        <mif:p>must not have SubObservations.</mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.985" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="0.0" y="2.244"/>
                           <mif:size width="2.681" height="0.678"/>
                           <mif:anchorage connectToShapeId="Sheet.985">
                              <mif:position x="1.340" y="2.583"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.326">
                                    <mif:position x="2.755" y="2.461"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>Annotation is only permitted if</mif:p>
                        <mif:p>Annotation Indicator is not present</mif:p>
                        <mif:p>and vice versa</mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.967" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="6.443" y="4.473"/>
                           <mif:size width="2.098" height="0.561"/>
                           <mif:anchorage connectToShapeId="Sheet.967">
                              <mif:position x="7.491" y="4.753"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.326">
                                    <mif:position x="5.845" y="5.016"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="id" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="E:Observation Measurement Id"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Unique identifier assigned to a record of observation measurement.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows observation measurement record to be directly accessed for "undo's", and thus the attribute is mandatory.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation" attributeName="id"/>
                     <mif:type name="II"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="code" sortKey="4" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="A:Measurement Type"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Identification of the type of measurement/observation that was made about the patient. Observation types include: height, weight, blood pressure, body mass, etc.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Distinguishes what kind of information is being specified. Code is mandatory to ensure that observations are distinguishable. The attribute is CD to support SNOMED.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation" attributeName="code"/>
                     <mif:type name="CD"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="CommonClinicalObservationType"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="statusCode" sortKey="5"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="completed"
                                 isStructural="false">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation" attributeName="statusCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActStatus" mnemonic="completed"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="effectiveTime" sortKey="6"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="C:Observation Measurement Timestamp"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The date to which the observation applies. E.g., if blood was drawn two days ago and White Blood Count (WBC) was done today, then WBC observation date should reflect the date of two days ago.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows providers to evaluate currency of the information. Because the date of observation/measurement determines the relevance of the information, this attribute is defined as 'populated'. Also allows tracking of observations over time.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation"
                                             attributeName="effectiveTime"/>
                     <mif:type name="TS.FULLDATETIME"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="confidentialityCode" type="CV" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="confidentialityCode" sortKey="7"
                                 minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="D:Common Observation Masking Indicator"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Communicates the intent of the patient to restrict access to their common observations. Provides support for additional confidentiality constraint, giving patients a level of control over their information. Valid values are: 'NORMAL' (denotes 'Not Masked'); and 'RESTRICTED' (denotes 'Masked'). The default is 'NORMAL' signifying 'Not Masked'.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows the patient to have discrete control over access to their common observation data.</mif:p>
                              <mif:p>The attribute is optional because not all systems will support masking.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation"
                                             attributeName="confidentialityCode"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="x_VeryBasicConfidentialityKind"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="value" type="PQ" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="8" minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="B:Observation Measurement Value"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The amount (quantity and unit) that has been recorded for the specific type of observation. E.g. height in centimeters, weight in kilograms, etc. Valid observation</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Provides standard representation of the measurement. May be used in calculations.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation" attributeName="value"/>
                     <mif:type name="PQ.BASIC"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="subject" type="REPC_MT100002CA.Subject5" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="subject" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AAA_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Subject5"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="responsibleParty" type="REPC_MT100002CA.ResponsibleParty" nillable="true"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="responsibleParty" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="AC________">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="ResponsibleParty"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="author" type="REPC_MT100002CA.Author3" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="author" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AEA_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Author3"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="location" type="REPC_MT100002CA.Location" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="location" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AJ________">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Location"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="component" type="REPC_MT100002CA.Component" nillable="true" minOccurs="0"
                     maxOccurs="2">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="component" minimumMultiplicity="0"
                                        maximumMultiplicity="2"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BE________">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="outboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Component"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="subjectOf1" type="REPC_MT100002CA.Subject2" nillable="true" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="subjectOf1" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="CDB_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="inboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Subject2"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="subjectOf2" type="REPC_MT100002CA.Subject" nillable="true" minOccurs="0"
                     maxOccurs="99">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="subjectOf2" minimumMultiplicity="0"
                                        maximumMultiplicity="99"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="CDB_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="inboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Subject"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT100002CA.Component">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Component" isAbstract="false">
               <mif:businessName name="has"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.979" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Down">
                     <mif:position x="3.215" y="6.039"/>
                     <mif:size width="2.247" height="0.886"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Indicates sub-measurements that combine to make up the overall measurement.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Needed for more complex observations such as blood pressure.</mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>Participation must be either</mif:p>
                        <mif:p>zero or 2, and nothing else</mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.993" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="6.798" y="6.128"/>
                           <mif:size width="1.689" height="0.444"/>
                           <mif:anchorage connectToShapeId="Sheet.993">
                              <mif:position x="7.643" y="6.351"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.979">
                                    <mif:position x="5.462" y="6.419"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="subObservationEvent" type="REPC_MT100002CA.SubObservationEvent"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="subObservationEvent" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="target"/>
                     <mif:participantClass>
                        <mif:reference name="SubObservationEvent"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT100002CA.Location">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Location" isAbstract="false">
               <mif:businessName name="*c:recorded at"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.889" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="5.845" y="1.043"/>
                     <mif:size width="3.000" height="0.436"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Identity of the service delivery location where the observation measurement was recorded.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Enables communication for verification of the measurement, and is therefore mandatory.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="serviceDeliveryLocation" type="COCT_MT240003CA.ServiceDeliveryLocation"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="serviceDeliveryLocation"
                                        minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="R_ServiceDeliveryLocationContact"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="LOC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT100002CA.ResponsibleParty">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="ResponsibleParty" isAbstract="false">
               <mif:businessName name="supervised by"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.955" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="5.845" y="3.261"/>
                     <mif:size width="3.004" height="0.436"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Identity of the provider who is taking responsibilty for the actions of the author.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows for the trail of responsibility for the action.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedPerson" type="COCT_MT090107CA.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="assignedPerson" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="R_AssignedPersonInformational"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RESP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT100002CA.Subject">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Subject" isAbstract="false">
               <mif:businessName name="f:commented on as"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.923" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Left">
                     <mif:position x="5.845" y="3.816"/>
                     <mif:size width="2.996" height="0.569"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Comments with respect to the observation.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows a comment to be attached to the observation at the time of recording the observation.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="annotation" type="COCT_MT120600CA.Annotation" nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="annotation" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="AZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="source"/>
                     <mif:participantClass>
                        <mif:reference name="A_AnnotationUniversal"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT100002CA.Subject2">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Subject2" isAbstract="false">
               <mif:businessName name="Notes Indicator"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.943" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Left">
                     <mif:position x="5.845" y="5.055"/>
                     <mif:size width="3.031" height="0.703"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>If true, indicates that there are notes associated with the common observation.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Shows whether additional information is available on further drill-down.</mif:p>
                        <mif:p>This association is mandatory as it indicates one of presence or absence notes.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="subsetCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="subsetCode" sortKey="4"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="SUM"
                                 isStructural="false">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             attributeName="subsetCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActRelationshipSubset" mnemonic="SUM"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="annotationIndicator" type="REPC_MT100002CA.AnnotationIndicator"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="annotationIndicator" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="AZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="source"/>
                     <mif:participantClass>
                        <mif:reference name="AnnotationIndicator"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT100002CA.Subject5">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Subject5" isAbstract="false">
               <mif:businessName name="*a:recorded for"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.91" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="5.845" y="1.790"/>
                     <mif:size width="3.005" height="0.436"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Identity of the person being observed</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows the observation to be attached to the appropriate person's record. As a result, this association is mandatory.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="COCT_MT050203CA.Patient" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="patient" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="R_PatientPersonContact"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT100002CA.SubObservationEvent">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="SubObservationEvent" isAbstract="false">
               <mif:businessName name="Component Measurements"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Observation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.975" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="2.743" y="6.925"/>
                     <mif:size width="3.270" height="1.048"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Represents one of the two components (systolic and diastolic) of a blood pressure measurement.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows both parts to be captured as part of a single measurement.</mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>The same Measurement Type</mif:p>
                        <mif:p>may not be specified in both</mif:p>
                        <mif:p>the SubObservationEvent and the</mif:p>
                        <mif:p>CommonObservationEvent.</mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.989" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="6.810" y="6.895"/>
                           <mif:size width="1.864" height="0.678"/>
                           <mif:anchorage connectToShapeId="Sheet.989">
                              <mif:position x="7.743" y="7.234"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.975">
                                    <mif:position x="6.013" y="7.344"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="code" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="A:Blood Pressure Measurement Type"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Distinguishes bwtween the two types of blood measurement. This can either be code for SYSTOLIC or DYSTOLIC</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Distinguishes between the two twtype of blood pressure measurements.</mif:p>
                              <mif:p>Code is mandatory to ensure that blood pressure observations are distinguishable. The attribute is CD to support SNOMED</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation" attributeName="code"/>
                     <mif:type name="CD"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="CommonClinicalObservationType"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="statusCode" sortKey="4"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="completed"
                                 isStructural="false">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation" attributeName="statusCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActStatus" mnemonic="completed"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="value" type="PQ" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="5" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="B:Blood Pressure Measurement Value"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The amount (quantity and unit) that has been recorded for the blood pressure.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Provides standard representation of the blood pressure measurement. May be used in calculations. Attribute is defined as mandatory to ensure that a value is always supplied, if there is a blood pressure measurement.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation" attributeName="value"/>
                     <mif:type name="PQ.BASIC"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
</xs:schema>