HL7TestHarness/PE_WorkFlows/WorkFlow_Lib/Schemas/REPC_MT000018CA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type REPC_MT000018CA.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.26 2006/01/23 23:56:47 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.4 2006/01/24 00:00:00 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
      <xs:appinfo>
         <mif:serializedStaticModel xmlns:mif="urn:hl7-org:v3/mif" packageKind="realm"
                                    representationKind="serialized"
                                    isSerializable="true"
                                    isAbstract="false"
                                    name="CA">
            <mif:packageLocation root="DEFN" section="HM" subSection="RE" domain="PC" artifact="MT-deprecated"
                                 realm="CA"
                                 id="000018"/>
            <mif:header>
               <mif:renderingInformation schemaVersion="1" application="Visio to MIF transform"/>
               <mif:legalese copyrightOwner="Health Level Seven" copyrightYears="2006"/>
            </mif:header>
            <mif:graphicRepresentation presentation="HL7">
               <mif:graphElement name="Main">
                  <mif:position x="0.0" y="0.0"/>
                  <mif:size width="9.209" height="4.465"/>
               </mif:graphElement>
            </mif:graphicRepresentation>
            <mif:derivationSupplier staticModelDerivationId="1">
               <mif:targetStaticModel root="DEFN" artifact="RIM" version="00"/>
            </mif:derivationSupplier>
            <mif:ownedEntryPoint id="REPC_MT000018CA" name="Common Observation" isAbstract="false">
               <mif:graphicRepresentation>
                  <mif:graphElement shapeId="Sheet.41" containerDiagramName="Main">
                     <mif:position x="0.961" y="0.028"/>
                     <mif:size width="1.534" height="0.453"/>
                     <mif:anchorage connectToShapeId="Sheet.41">
                        <mif:position x="1.682" y="0.481"/>
                        <mif:graphEdge>
                           <mif:anchor connectToShapeId="Sheet.326">
                              <mif:position x="1.774" y="0.930"/>
                           </mif:anchor>
                        </mif:graphEdge>
                     </mif:anchorage>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:specializedClass>
                  <mif:reference name="CommonObservationEvent"/>
               </mif:specializedClass>
            </mif:ownedEntryPoint>
         </mif:serializedStaticModel>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT050203CA.xsd"/>
   <xs:include schemaLocation="COCT_MT120600CA.xsd"/>
   <xs:complexType name="REPC_MT000018CA.CommonObservationEvent">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="CommonObservationEvent" isAbstract="false">
               <mif:businessName name="Patient Measurements"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Observation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.326" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="false">
                     <mif:position x="0.010" y="0.930"/>
                     <mif:size width="3.529" height="2.158"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>This comprises a single point-in-time measurement made about a patient.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows pertinent patient measurements to be recorded for clinical purposes.</mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>Measurement Type with a ‘nullFlavor’value</mif:p>
                        <mif:p>must have SubObservations</mif:p>
                        <mif:p>Measurement Type without a ‘nullFlavor’ value</mif:p>
                        <mif:p>must not have SubObservations.</mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.933" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="0.421" y="3.549"/>
                           <mif:size width="2.681" height="0.678"/>
                           <mif:anchorage connectToShapeId="Sheet.933">
                              <mif:position x="1.761" y="3.888"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.326">
                                    <mif:position x="1.774" y="3.088"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="code" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="A:MeasurementType"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Identification of the type of measurement/observation that was made about the patient. Observation types include: height, weight, blood pressure, body mass, etc</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Distinguishes what kind of information is being specified. Code is mandatory to ensure that observations are distinguishable. The attribute is CD to support SNOMED</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>OBS.010-01 NCPDP:Clinical.495-H2</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation" attributeName="code"/>
                     <mif:type name="CD"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="CommonClinicalObservationType"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="statusCode" sortKey="4"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="completed"
                                 isStructural="false">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation" attributeName="statusCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActStatus" mnemonic="completed"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="effectiveTime" sortKey="5"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="C:Observation Timestamp"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The dateand time at which the observation applies. E.g., if blood was drawn two days ago and White Blood Count (WBC) was done today, then WBC observation date should reflect the date of two days ago.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows providers to evaluate currency of the information. Because the date of observation/measurement determines the relevance of the information, this attribute is defined as 'populated'. Also allows tracking of observations over time.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>OBS.010-04 NCPDP:Clinical.494-ZE NCPDP:Clinical.495-H1</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation"
                                             attributeName="effectiveTime"/>
                     <mif:type name="TS.FULLDATETIME"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="confidentialityCode" type="CV" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="confidentialityCode" sortKey="6"
                                 minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="D:Common Observation Masking Indicator"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Communicates the intent of the patient to restrict access to their common observations. Provides support for additional confidentiality constraint, giving patients a level of control over their information. Valid values are: 'NORMAL' (denotes 'Not Masked'); and 'RESTRICTED' (denotes 'Masked'). The default is 'NORMAL' signifying 'Not Masked'.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Allows the patient to have discrete control over access to their common observation data.</mif:p>
                              <mif:p>The attribute is optional because not all systems will support masking.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation"
                                             attributeName="confidentialityCode"/>
                     <mif:type name="CV"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="x_VeryBasicConfidentialityKind"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="value" type="PQ" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="7" minimumMultiplicity="0"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="false"
                                 isStructural="false">
                     <mif:businessName name="B:Observation Measurement Value"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The amount (quantity and unit) that has been recorded for the specific type of observation. E.g. height in centimeters, weight in kilograms, etc.</mif:p>
                              <mif:p>Valid observation unit types are: kg, cm, mmHg, mmol/mL, L/min, C, 1/min, etc</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Provides standard representation of the measurement. May be used in calculations.</mif:p>
                           </mif:text>
                        </mif:rationale>
                        <mif:mapping sourceName="eScript">
                           <mif:text>
                              <mif:p>OBS.010-02 (value) eScript:OBS.010-03 (unit) NCPDP:Clinical.595-H4 (value) NCPDP:Clinical.495-H3 (unit)</mif:p>
                           </mif:text>
                        </mif:mapping>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation" attributeName="value"/>
                     <mif:type name="PQ.BASIC"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="subject" type="REPC_MT000018CA.Subject5" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="subject" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="AAA_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act" associationEndName="participation"/>
                     <mif:participantClass>
                        <mif:reference name="Subject5"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="component" type="REPC_MT000018CA.Component" nillable="true" minOccurs="0"
                     maxOccurs="2">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="component" minimumMultiplicity="0"
                                        maximumMultiplicity="2"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BE________">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="outboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Component"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="subjectOf" type="REPC_MT000018CA.Subject" nillable="true" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="subjectOf" minimumMultiplicity="0"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="CDB_______">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Act"
                                             associationEndName="inboundRelationship"/>
                     <mif:participantClass>
                        <mif:reference name="Subject"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000018CA.Component">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Component" isAbstract="false">
               <mif:businessName name="has"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.927" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="3.539" y="2.524"/>
                     <mif:size width="2.390" height="0.569"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Indicates sub-measurements that combine to make up the overall measurement.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Needed for more complex observations such as blood pressure.</mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>Participation must be either</mif:p>
                        <mif:p>zero or 2, and nothing else</mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.945" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="3.855" y="3.427"/>
                           <mif:size width="1.689" height="0.444"/>
                           <mif:anchorage connectToShapeId="Sheet.945">
                              <mif:position x="4.700" y="3.649"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.927">
                                    <mif:position x="4.671" y="3.093"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="subObservationEvent" type="REPC_MT000018CA.SubObservationEvent"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="subObservationEvent" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="target"/>
                     <mif:participantClass>
                        <mif:reference name="SubObservationEvent"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000018CA.Subject">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Subject" isAbstract="false">
               <mif:businessName name="*c:includes"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.905" containerDiagramName="Main" shapeTemplate="ActRelationship"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Left">
                     <mif:position x="3.539" y="1.628"/>
                     <mif:size width="2.413" height="0.569"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Indicates the various comments that providers have recorded about this common observation.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Improves communication between providers by allowing a mechanism to exchange un-coded free-form information.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="annotation" type="COCT_MT120600CA.Annotation" nillable="true"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="annotation" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="false"
                                        sortKey="AZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="ActRelationship"
                                             associationEndName="source"/>
                     <mif:participantClass>
                        <mif:reference name="A_AnnotationUniversal"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000018CA.Subject5">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="Subject5" isAbstract="false">
               <mif:businessName name="*a:recorded for"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Participation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.91" containerDiagramName="Main" shapeTemplate="Participation"
                                    textWrappingWidth="66.0"
                                    nodeOrientation="Right">
                     <mif:position x="3.539" y="0.970"/>
                     <mif:size width="2.366" height="0.436"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Identity of the person being observed.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows the observation to be attached to the appropriate person's record. As a result, this association is mandatory.</mif:p>
                     </mif:text>
                  </mif:rationale>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="COCT_MT050203CA.Patient" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:targetConnection xmlns:mif="urn:hl7-org:v3/mif" name="patient" minimumMultiplicity="1"
                                        maximumMultiplicity="1"
                                        conformance="R"
                                        isMandatory="true"
                                        sortKey="BZ">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Participation" associationEndName="role"/>
                     <mif:participantClass>
                        <mif:reference name="R_PatientPersonContact"/>
                     </mif:participantClass>
                  </mif:targetConnection>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000018CA.SubObservationEvent">
      <xs:annotation>
         <xs:appinfo>
            <mif:class xmlns:mif="urn:hl7-org:v3/mif" name="SubObservationEvent" isAbstract="false">
               <mif:businessName name="Component Measurements"/>
               <mif:derivationSupplier staticModelDerivationId="1" className="Observation"/>
               <mif:graphicRepresentation presentation="HL7">
                  <mif:graphElement shapeId="Sheet.923" containerDiagramName="Main" shapeTemplate="Act"
                                    isWidthAutoSize="true"
                                    isHeightAutoSize="true">
                     <mif:position x="5.929" y="2.430"/>
                     <mif:size width="3.270" height="1.048"/>
                  </mif:graphElement>
               </mif:graphicRepresentation>
               <mif:annotations>
                  <mif:definition>
                     <mif:text>
                        <mif:p>Represents one of the two components (systolic and diastolic) of a blood pressure measurement.</mif:p>
                     </mif:text>
                  </mif:definition>
                  <mif:rationale>
                     <mif:text>
                        <mif:p>Allows both parts to be captured as part of a single measurement.</mif:p>
                     </mif:text>
                  </mif:rationale>
                  <mif:constraint>
                     <mif:text>
                        <mif:p>The same Measurement Type</mif:p>
                        <mif:p>may not be specified in both</mif:p>
                        <mif:p>the SubObservationEvent and the</mif:p>
                        <mif:p>CommonObservationEvent.</mif:p>
                     </mif:text>
                     <mif:graphicRepresentation>
                        <mif:graphElement shapeId="Sheet.937" containerDiagramName="Main" isWidthAutoSize="true"
                                          isHeightAutoSize="true">
                           <mif:position x="6.636" y="3.788"/>
                           <mif:size width="1.864" height="0.678"/>
                           <mif:anchorage connectToShapeId="Sheet.937">
                              <mif:position x="7.568" y="4.127"/>
                              <mif:graphEdge>
                                 <mif:anchor connectToShapeId="Sheet.923">
                                    <mif:position x="7.564" y="3.478"/>
                                 </mif:anchor>
                              </mif:graphEdge>
                           </mif:anchorage>
                        </mif:graphElement>
                     </mif:graphicRepresentation>
                  </mif:constraint>
               </mif:annotations>
            </mif:class>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="code" sortKey="3" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="Blood Pressure Measurement Type"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>Distinguishes between the two types of blood measurement. This can either be code for SYSTOLIC or DYSTOLIC</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Distinguishes between the two types of blood pressure measurements.</mif:p>
                              <mif:p>Code is mandatory to ensure that blood pressure observations are distinguishable. The attribute is CD to support SNOMED</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation" attributeName="code"/>
                     <mif:type name="CD"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="CommonClinicalObservationType"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="statusCode" sortKey="4"
                                 minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 fixedValue="completed"
                                 isStructural="false">
                     <mif:annotations>
                        <mif:definition>
                           <mif:text/>
                        </mif:definition>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation" attributeName="statusCode"/>
                     <mif:type name="CS"/>
                     <mif:supplierDomainSpecification codingStrength="CNE" domainName="ActStatus" mnemonic="completed"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="value" type="PQ" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <mif:attribute xmlns:mif="urn:hl7-org:v3/mif" name="value" sortKey="5" minimumMultiplicity="1"
                                 maximumMultiplicity="1"
                                 conformance="R"
                                 isMandatory="true"
                                 isStructural="false">
                     <mif:businessName name="B:Blood Pressure Measurement Value"/>
                     <mif:annotations>
                        <mif:definition>
                           <mif:text>
                              <mif:p>The amount (quantity and unit) that has been recorded for the blood pressure.</mif:p>
                           </mif:text>
                        </mif:definition>
                        <mif:rationale>
                           <mif:text>
                              <mif:p>Provides standard representation of the blood pressure measurement. May be used in calculations. Attribute is defined as mandatory to ensure that a value is always supplied, if there is a blood pressure measurement.</mif:p>
                           </mif:text>
                        </mif:rationale>
                     </mif:annotations>
                     <mif:derivationSupplier staticModelDerivationId="1" className="Observation" attributeName="value"/>
                     <mif:type name="PQ.BASIC"/>
                  </mif:attribute>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
</xs:schema>